.text-brand-primary {
  color: #263238;
}
.text-brand-secondary {
  color: #FFF;
}
.text-brand-tertiary {
  color: #26A69A;
}
.bg-brand {
  background-color: #26A69A !important;
  color: #fff;
}
.color-brand {
  color: #263238;
}
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-text {
  color: #263238;
}
.navigation > li.active > a,
.navigation > li.active > a:hover,
.navigation > li.active > a:focus {
  background: #26A69A !important;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  color: #263238;
  background-color: #FFF;
}
.page-container-login {
  background: #263238;
}
.navbar.navbar-inverse {
  background-color: #FFF;
  border-top: 0;
}
.navbar-header {
  background-color: #263238;
  border-color: #263238;
}
.navigation li a:hover,
.navigation li a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.navigation > li > ul li.active > a,
.navigation > li > ul li.active > a:hover,
.navigation > li > ul li.active > a:focus {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.sidebar {
  background-color: #263238;
}
