@import "bootstrap/bootstrap.less";
@import "reset.less";
.center-absolute {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.common-transition {
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.left {
    float: left;
}
.right {
    float: right;
}

@media (min-width: 768px) {
    .mob-show{
        display: none;
    }
    .mob-hide{
        display: block;
    }
}

@media (max-width: 767px) {
    .mob-show{
        display: block
    }
    .mob-hide{
        display: none;
    }
}

@media (max-width: 1023px) {
    .left,
    .right {
        float: none;
    }
}
.bold {
    font-weight: 700;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 0;
}
@darkbrown : #321e00;
@lightgreen : #bfd22b;
//fonts
@font-face {
    font-family: 'avenir';
    src: url('../fonts/AvenirNextLTPro-Regular.otf');
    font-weight: 400;
}
@font-face {
    font-family: 'avenir';
    src: url('../fonts/AvenirNextLTPro-Medium.otf');
    font-weight: 500;
}
@font-face {
    font-family: 'avenir';
    src: url('../fonts/AvenirNextLTPro-Demi.otf');
    font-weight: 600;
}
@font-face {
    font-family: 'avenir';
    src: url('../fonts/AvenirNextLTPro-Bold.otf');
    font-weight: 700;
}
@font-face {
    font-family: 'zapfino';
    src: url('../fonts/Zapfino.ttf');
    font-weight: 400;
}
@avenir : 'avenir',
arial,
helvetica,
sans-serif;
@zapfino : 'zapfino',
arial,
helvetica,
sans-serif;
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    padding-left: 12px;
}
h1 {
    font-weight: 400;
    text-align: center;
    font-size: 48px;
    line-height: 57.6px;
    letter-spacing: 0.1em;
    padding-top: 75px;
    padding-bottom: 65px;
    @media (max-width: 767px) {
        font-size: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
//site start
body {
    background: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: @avenir;
    color: @darkbrown;
}
//header
header {
    height: 130px;
    color: #fff;
    z-index: 99;
    background-color: @darkbrown;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    @media (max-width: 1023px) {
        height: auto;
        .common-transition();
        &.hide-top {
            top: -103px;
        }
    }
    .header-container {
        padding-top: 13px;
        width: 1024px;
        max-width: 100%;
        margin: 0 auto;
        position: relative;
        .clearfix();
        .logo {
            text-align: center;
            margin-bottom: 20px;
        }
    }
    .top {
        position: relative;
    }
}
nav.menu {
    @media (max-width: 1023px) {
        position: absolute;
        top: 141px;
        left: 0;
        background-color: @darkbrown;
        width: 100%;
    }
    &>ul {
        width: 100%;
        @media (max-width: 1023px) {
            padding: 0 30px;
            padding-top: 12px;
        }
        &>li {
            position: relative;
            display: inline-block;
            vertical-align: top;
            font-weight: 500;
            width: 16.3%;
            height: 28px;
            text-align: center;
            font-size: 15px;
            text-transform: uppercase;
            @media (max-width: 1023px) {
                width: 100%;
                height: auto;
                min-height: 28px;
                text-align: left;
                display: block;
                margin-bottom: 12px;
                a {
                    display: block;
                    height: 28px;
                    width: 100%;
                }
            }
            .submenu {
                display: none;
            }
            &.dropped {
                background-color: @lightgreen;
                margin-top: -13px;
                padding-top: 13px;
                width: ~'calc(100% + 60px)';
                margin-left: -30px;
                &>a {
                    color: @darkbrown;
                    display: block;
                    width: ~'calc(100% - 60px)';
                    margin-left: auto;
                    margin-right: auto;
                }
                .submenu {
                    width: ~'calc(100% - 60px)';
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    @media (min-width: 769px) {
                        display: none;
                    }
                }
                @media (min-width: 769px) {
                    background-color: transparent;
                    width: 16.3%;
                    height: 28px;
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    &>a {
                        color: #fff;
                        display: inline-block;
                        margin: 0;
                        height: 28px;
                    }
                }
            }
            .arrow {
                display: none;
                position: absolute;
                top: 0;
                right: 40px;
                top: 12px;
                @media (max-width: 768px) {
                    display: block;
                }
            }
            .submenu {
                ul {
                    li {
                        width: 100%;
                        height: auto;
                        min-height: 28px;
                        text-align: left;
                        display: block;
                        text-transform: uppercase;
                        border-bottom: 1px solid #fff;
                        margin-bottom: 12px;
                        &:first-of-type {
                            border-top: 1px solid #fff;
                            padding-top: 12px;
                        }
                        &:last-of-type {
                            border-bottom: 0;
                            margin-bottom: 0px;
                        }
                        a {
                            color: @darkbrown;
                        }
                    }
                }
                @media (min-width: 769px) {
                    display: none!important
                }
            }
            a {
                color: #fff;
            }
            .underoos {
                opacity: 0;
                .common-transition();
                background-color: @lightgreen;
                height: 6px;
                width: 48px;
                position: absolute;
                bottom: 0;
                left: 50%;
                -moz-transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                &.active {
                    opacity: 1;
                }
                @media (max-width: 1023px) {
                    height: 1px;
                    width: 100%;
                    opacity: 1;
                }
            }
            &:hover .underoos {
                opacity: 1;
            }
        }
    }
    &.collapse-menu {
        @media (max-width: 1023px) {
            display: none;
        }
    }
}
.cart-icon {
    float: right;
    position: absolute;
    right: 0;
    top: 7px;
    @media (max-width: 1023px) {
        display: none;
    }
    a {
        display: inline-block;
        margin-right: 6px;
        &:last-of-type {
            margin-right: 0p;
        }
        &:hover {
            opacity: .8;
        }
    }
}
//mobile menu
.mob-menu {
    padding: 0 30px;
    display: none;
    .clearfix();
    @media (max-width: 1023px) {
        display: block;
        .left {
            float: left;
        }
        .right {
            float: right;
        }
    }
    background-color: @lightgreen;
    color: @darkbrown;
    font-weight: 500;
    height: 38px;
    .left {
        height: 38px;
    }
    .right {
        height: 38px;
        a {
            display: inline-block;
            height: 38px;
            width: 48px;
            padding-left: 12px;
            padding-right: 12px;
            border-left: 1px solid @darkbrown;
            img {
                display: inline-block;
                vertical-align: middle;
                margin-bottom: 5px;
            }
        }
    }
    a {
        color: @darkbrown;
        display: inline-block;
        font-size: 14px;
        line-height: 38px;
        span {
            display: inline-block;
            margin-right: 16px;
        }
    }
}
//footer
footer {
    position: relative;
    height: 55px;
    z-index: 99;
    background-color: @darkbrown;
    .logo-footer {
        position: absolute;
        top: 50%;
        left: 50%;
        .center-absolute();
    }
}
//login pop
.login-popup-cont {
    position: relative;
    height: 0px;
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
    top: 0;
    z-index: 2;
    left: 0;
}
.login-pop {
    position: fixed;
    width: 410px;
    max-width: 100%;
    top: -500px;
    .common-transition();
    color: @darkbrown;
    right: 0px;
    border: 1px solid #000;
    background-color: #fff;
    padding: 16px 14px;
    form {
        margin-bottom: 30px;
    }
    &.active {
        top: 130px;
        @media (max-width: 1023px) {
            &.popiah{
                top: 38px;
            }
        }
    }
    @media (max-width: 1023px) {
        &.active {
            top: 141px;
        }
    }
    h6 {
        font-size: 16px;
        color: @darkbrown;
    }
    .separator {
        height: 1px;
        border-bottom: 1px solid @lightgreen;
        width: 100%;
        margin-top: 14px;
        margin-bottom: 12px;
    }
    input,
    button {
        width: 100%;
        height: 34px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-bottom: 12px;
    }
    button {
        color: #fff;
        background-color: @lightgreen;
        font-size: 18px;
        font-weight: 700;
        border: 0;
        margin: 0;
        .common-transition();
        &:hover {
            opacity: .8;
        }
        &.login-fb {
            background-color: #1057a5;
            i {
                display: inline-block;
                margin-right: 20px;
            }
        }
    }
    input {
        font-size: 14px;
        border: 1px solid #a7a8a9;
        padding-left: 12px;
    }
    a {
        color: @darkbrown;
        font-weight: 700;
        font-size: 16px;
        .common-transition();
        &:hover {
            opacity: .8;
        }
    }
    .forgotlink {
        display: block;
        margin-top: -35px;
        text-align: right;
        margin-bottom: 20px;
        font-weight: 400;
        color: @darkbrown;
        font-size: 14px;
        padding-right: 15px;
    }
    .separator-two {
        width: 282px;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 26px;
        .line,
        span {
            display: inline-block;
            vertical-align: middle;
        }
        .line {
            height: 1px;
            border-bottom: 1px solid @darkbrown;
            width: 120px;
        }
        span {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 14px;
            font-weight: 700;
        }
        span {}
    }
}
//main
.main {
    position: relative;
    min-height: ~'calc(100vh - 55px - 130px)';
    padding-top: 130px;
    @media (max-width: 1023px) {
        padding-top: 141px;
        overflow-x: hidden;
    }
}
.main-container {
    width: 1024px;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    height: 100%;
    min-height: ~'calc(100vh - 185px)';
}
//home
.main.home {
    background-color: @darkbrown;
    color: #fff;
    padding-bottom: 55px;
    .main-container {
        @media (max-width: 1023px) {
            padding: 0 33px;
        }
    }
}
.banner.banner-home {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: ~'calc(100vh - 130px)';
    @media (max-width: 1023px) {
        height: ~'calc(100vh - 141px)';
    }
}
.banner-home-swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .swiper-slide {
        img {
            width: 100%;
            @media (max-width: 1023px) {
                height: 100%;
                width: auto;
            }
        }
    }
}
.home .introduction {
    .clearfix();
    height: 240px;
    margin-top: 55px;
    margin-bottom: 50px;
    @media (max-width: 1023px) {
        height: auto;
        text-align: center;
    }
    .left {
        vertical-align: middle;
        display: inline-block;
        height: 100%;
        position: relative;
        max-width: 710px;
        @media (max-width: 1040px) {
            max-width: 600px;
        }
    }
    .intro-text {
        display: inline-block;
        vertical-align: middle;
        padding-left: 35px;
        margin-top: 40px;
        @media (max-width: 1023px) {
            padding-left: 0;
        }
    }
    hr {
        background-color: @lightgreen;
        border-color: @lightgreen;
        margin: 20px 0;
    }
    h3 {
        font-weight: 400;
        font-size: 26px;
        line-height: 31.2px;
    }
    p {
        font-size: 18px;
        line-height: 21.6px;
    }
}
.home-product-banner {
    position: relative;
}
.swiper-pagination.home-product {
    position: relative;
    margin-bottom: 48px;
    margin-top: 30px;
    &.new {
        margin-bottom: 0px;
    }
    .swiper-pagination-bullet {
        margin-right: 10px;
        background-color: @darkbrown;
        border: 1px solid @darkbrown;
        opacity: 1;
        &:before {
                content: "\007C\00a0\00a0";
                color: transparent;
                width: 16px;
                height: 16px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                border: 1px solid transparent;
                position: absolute;
                top: -5px;
                left: -5px;
                font-size: 10px;
            }
        &:last-of-type {
            margin-right: 0px;
        }
        &.swiper-pagination-bullet-active {
            background-color: @lightgreen;
            border-color: @lightgreen;
            border: 1px solid @lightgreen;;
            opacity: 1;
            border-collapse: separate;
            position: relative;
            border-spacing: 20px;
            &:before {
                content: "\007C\00a0\00a0";
                color: transparent;
                width: 16px;
                height: 16px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                border: 1px solid #bfd22b;
                position: absolute;
                top: -5px;
                left: -5px;
                font-size: 10px;
            }
        }
    }
}
.home-product-swiper {
    overflow: hidden;
    .swiper-slide {
        img {
            width: 100%;
        }
    }
}
.new-product-header {
    height: 140px;
    background: url(../img/brown-gradient.png);
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    h3 {
        position: absolute;
        width: 110px;
        height: 110px;
        text-align: center;
        background-color: #fff;
        color: @lightgreen;
        line-height: 110px;
        top: 48px;
        left: 50%;
        font-size: 26px;
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
}
.home-product-new-swiper {
    overflow: hidden;
}
.product-grid {
    background-color: #fff;
    border: 1px solid #fff;
    .common-transition();
    &:hover {
        border-color: @lightgreen;
    }
    &:hover .desc .viewproduct {
        opacity: 1;
    }
    .image {
        width: 100%;
//		padding: 10px 50px;
        img {
            width: 100%;
        }
    }
    .desc {
        padding: 0 13px;
        position: relative;
        .viewproduct {
            top: -32px;
            left: 0;
            position: absolute;
            display: block;
            color: #fff;
            background-color: @lightgreen;
            opacity: 0;
            height: 33px;
            width: 100%;
            .common-transition();
            line-height: 33px;
            text-align: center;
            margin-bottom: -1px;
        }
        .desc-item {
            text-align: center;
            border-top: 1px solid @lightgreen;
            padding-top: 15px;
            padding-bottom: 10px;
            color: @darkbrown;
            h4 {
                font-size: 16px;
                font-weight: 400;
                line-height: 19.2px;
                height: 19px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            span {
                font-weight: 700;
                font-size: 21px;
                line-height: 25.2px;
            }
        }
    }
}
//about us
.main-container.about {
    background-color: transparent;
    @media (max-width: 1023px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}
.aboutus.top {
    .aboutus-banner {
        margin-bottom: 50px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        height: 500px;
        width: 100%;
        color: #fff;
        text-align: center;
        position: relative;
        @media (max-width: 1023px) {
            height: auto;
        }
        .img-mobile {
            display: none;
            @media (max-width: 1023px) {
                display: block;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .text {
            position: absolute;
            width: 60%;
            top: 50%;
            right: 30px;
            -moz-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            float: right;
            @media (max-width: 1023px) {
                float: none;
                position: static;
                transform: none;
                -webkit-transform: none;
                -moz-transform: none;
                margin-top: 50px;
                padding-bottom: 10px;
                text-align: center;
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        h3 {
            font-family: @zapfino;
            font-weight: 400;
            font-size: 34px;
            line-height: 40.8px;
            margin-bottom: 60px;
            @media (max-width: 1023px) {
                font-size: 26px;
                margin-bottom: 20px;
            }
        }
        p {
            font-size: 18px;
            line-height: 21.6px;
            margin-bottom: 35px;
        }
        &:first-of-type {
            margin-bottom: 20px;
        }
        &.ancient {
            background: url('../img/Batik-banner-BG-mbah-putri.jpg');
            @media (max-width: 1023px) {
                background: #000;
            }
        }
        &.founder {
            background: url('../img/Batik-banner-BG-dhita-banner-web.jpg');
            @media (max-width: 1023px) {
                background: #000;
            }
            .text {
                left: 30px;
                right: auto;
            }
        }
    }
}
.aboutus.bottom {
    width: 650px;
    margin: 0 auto;
    @media (max-width: 1023px) {
        width: 100%;
    }
    &.mobile {
        display: none;
    }
    @media (max-width: 1023px) {
        display: none;
        &.mobile {
            display: block;
            .philosophy-swiper {
                width: 100%;
                overflow: hidden;
            }
        }
    }
    .content {
        margin-bottom: 28px;
        text-align: center;
        max-width: 100%;
        h3 {
            color: @lightgreen;
            font-size: 24px;
            line-height: 28.8px;
            margin-bottom: 30px;
        }
        p {
            font-size: 18px;
            line-height: 21.6px;
            margin-bottom: 30px;
            color: #000;
            &:last-of-type {
                margin-bottom: 35px;
            }
        }
        .separator {
            border-bottom: 1px solid @lightgreen;
            width: 325px;
            margin: 0 auto;
            height: 1px;
            @media (max-width: 767px) {
                display: none;
            }
        }
    }
    .swiper-pagination.home-product.new {
        margin-top: 10px;
        margin-bottom: 30px;
    }
}
.aboutus.last {
    width: 100%;
    padding: 0 20px;
    @media (max-width: 1023px) {
        padding: 0;
    }
}
.rnd {
    .clearfix();
    @media (max-width: 1023px) {
        padding: 0 10px;
    }
    border: 1px solid @lightgreen;
    margin-bottom: 70px;
    .left {
        img {
            max-width: 100%;
        }
        &:first-of-type {
            padding-top: 50px;
            padding-left: 8px;
            padding-bottom: 26px;
            @media (max-width: 1023px) {
                padding-left: 0px;
            }
        }
        &:last-of-type {
            width: ~'calc(100% - 365px)';
            padding-top: 33px;
            padding-bottom: 26px;
            padding-right: 70px;
            text-align: center;
            @media (max-width: 1023px) {
                width: 100%;
                padding-right: 0px;
            }
            h3 {
                font-size: 24px;
                line-height: 28.8px;
                letter-spacing: 0.1em;
                color: @lightgreen;
                margin-bottom: 34px;
            }
            p {
                font-size: 18px;
                line-height: 21.6px;
                margin-bottom: 34px;
                color: #000;
            }
        }
    }
}
//products category
.main-container.category {
    background-color: transparent;
    @media (max-width: 767px) {
        padding: 0 33px;
    }
}
.banner-category {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    height: auto;
    @media (max-width: 1023px) {
        height: auto;
    }
    &:last-of-type {
        margin-bottom: 100px;
    }
    img {
        width: 100%;
    }
    h3 {
        text-align: center;
        .common-transition();
        color: #fff;
        text-transform: uppercase;
        display: block;
        width: 100%;
        background-color: @darkbrown;
        height: 50px;
        line-height: 50px;
        font-size: 26px;
        line-height: 50px;
        letter-spacing: 0.1em;
        position: absolute;
        bottom: -50px;
        left: 0;
        @media (max-width: 767px) {
            font-size: 20px;
        }
    }
    &:hover h3 {
        bottom: 0;
    }
}
//category detail
.main-container.cat-detail {
    background-color: transparent;
    padding-bottom: 115px;
    .separator {
        img {
            max-width: 100%;
        }
    }
}
.top-image {
    @media (max-width: 767px) {
        padding-left: 33px;
        padding-right: 33px;
    }
    img {
        width: 100%;
    }
}
.product-cat-container {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    @media (max-width: 767px) {
        padding-left: 35px;
        padding-right: 35px;
    }
    h3 {
        font-size: 26px;
        line-height: 31.2px;
        letter-spacing: 0.1em;
    }
    p {
        font-size: 18px;
        line-height: 21.6px;
        margin-bottom: 60px;
    }
    .sub-separator {
        width: 510px;
        margin: 26px auto;
        height: 1px;
        border-bottom: 1px solid @lightgreen;
        max-width: 100%;
    }
}
//product detail
.main-container.product-detail {
    background-color: transparent;
    padding-bottom: 115px;
    padding-top: 70px;
    position: relative;
    overflow: hidden;
    @media (max-width: 767px) {
        padding-left: 11px;
        padding-right: 11px;
    }
    .spinner-container {
        display: inline-block;
        vertical-align: bottom;
        position: relative;
        a {
            position: absolute;
            right: 20px;
            font-size: 22px;
            color: @darkbrown;
            .common-transition();
            &:hover {
                opacity: .7;
            }
        }
        a.up {
            top: 5px;
            bottom: auto;
        }
        a.down {
            top: auto;
            bottom: 5px;
        }
    }
    .spinner {
        float: none;
        display: inline-block;
        height: 45px;
        line-height: 45px;
        vertical-align: middle;
        border-radius: 0;
        margin-right: 13px;
        border: 1px solid #a7a8a9;
        width: 90px;
        font-weight: 600;
        text-align: center;
    }
}
.breadcrumb {
    background: none;
    padding: 0;
    padding-left: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.8px;
    margin-bottom: 90px;
    @media (max-width: 1023px) {
        padding: 0 20px;
    }
    color: @lightgreen;
    a,
    span {
        color: @darkbrown;
    }
    a {
        .common-transition();
        &:hover {
            opacity: .7;
        }
    }
}
.product {
    padding: 0 22px;
    .row {
        @media (max-width: 1023px) {
            margin: 0;
        }
    }
    &>div>div {
        padding: 0;
        &:first-of-type {
            padding-right: 5px;
            @media (max-width: 767px) {
                padding-right: 0px;
            }
        }
    }
    .product-image {
        img {
            width: 100%;
        }
    }
    .product-detail {
        text-align: left;
        h1 {
            text-align: left;
            padding: 0;
            font-size: 26px;
            line-height: 31.2px;
            letter-spacing: 0.02em;
        }
        .price {
            margin-bottom: 30px;
        }
        .price span {
            font-weight: 700;
            font-size: 26px;
            line-height: 31.2px;
        }
    }
    .separator-big {
        width: 100%;
        height: 1px;
        margin-top: 100px;
        border-bottom: 1px solid @lightgreen;
        @media (max-width: 767px) {
            margin-top: 0px;
        }
    }
}
.product-detail .middle {
    padding-bottom: 16px;
    border-bottom: 1px solid @lightgreen;
    margin-bottom: 20px;
    @media (max-width: 767px) {
        width: 250px;
    }
    span {
        font-weight: 700;
        font-size: 21px;
        line-height: 45px;
        display: inline-block;
        margin-right: 40px;
        height: 45px;
        vertical-align: middle;
    }
    select {
        margin-right: 20px;
        height: 45px;
        width: 90px;
        display: inline-block;
        vertical-align: middle;
        @media (max-width: 767px) {
            margin-right: 0px;
            float: right;
        }
    }
    button {
        width: 258px;
        height: 45px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 0;
        -moz-border-radius: 0;
        color: #fff;
        background-color: @lightgreen;
        font-size: 21px;
        font-weight: 700;
        padding: 0;
        line-height: 45px;
        @media (max-width: 1023px) {
            margin-top: 20px;
        }
        .common-transition();
        &:hover {
            opacity: .8;
        }
    }
    .nice-select {
        float: none;
        display: inline-block;
        vertical-align: middle;
        -moz-border-radius: 0;
        border-radius: 0;
        height: 45px;
        width: 90px;
        border: 1px solid #a7a8a9;
        //		padding: 0 20px;
        span {
            margin-right: 0px;
            width: 100%;
        }
        &:after {
            content: '\25bc';
            position: absolute;
            height: 20px;
            width: 16px;
            right: 10px;
            top: 3px;
            font-size: 20px;
            color: #321e00;
        }
        .list {
            width: 100%;
            max-height: 150px;
            overflow-y: auto;
        }
    }
    .nice-select .option:hover,
    {
        color: #fff;
        background-color: @darkbrown;
    }
    .nice-select .option.selected,
    .nice-select .option.focus,
    .nice-select .option.selected.focus {
        color: #000;
        &:hover {
            color: #fff;
        }
    }
}
.product-detail .bottom {
    .description p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    li {
        line-height: 20px;
    }
    .howtouse-desc {
        margin-bottom: 30px;
        h4 {
            font-size: 18px;
            line-height: 21.6px;
            font-weight: 700;
            margin-bottom: 5px;
        }
        ul {
            list-style-type: disc;
            padding-left: 20px;
            font-size: 16px;
            line-height: 19.2px;
        }
        p {
            //			font-size: 12px;
            //			line-height: 14.4px;
            font-size: 16px;
            line-height: 20px;
        }
    }
    @media (max-width: 767px) {
        text-align: center;
        .howtouse-desc {
            ul{
                list-style-type: none;
            }
        }
    }
}
.add-cart-message {
    width: 410px;
    max-width: 100vw;
    border: 1px solid #000;
    position: absolute;
    z-index: 99;
    top: -50%;
    right: 0;
    background: #fff;
    .common-transition();
    &.active {
        top: 0;
    }
    .top {
        padding-left: 14px;
        padding-right: 14px;
        margin-bottom: 17px;
    }
    .message {
        padding-top: 8px;
        padding-bottom: 7px;
        border-bottom: 1px solid #a7a8a9;
        margin-bottom: 14px;
        img,
        span {
            display: inline-block;
            vertical-align: middle;
            margin-right: 6px;
        }
        span {
            color: @lightgreen;
            font-size: 16px;
            height: 24px;
            line-height: 24px;
        }
    }
    .product-added {
        padding-bottom: 18px;
        table {
            width: 100%;
            table-layout: fixed;
        }
        td {
            vertical-align: middle;
            span {
                display: block;
                font-size: 16px;
                line-height: 19.2px;
                text-transform: uppercase;
                font-weight: 700;
                color: #000;
            }
            a {
                color: #000;
            }
        }
    }
    .bottom {
        background: @lightgreen;
        padding-top: 18px;
        padding-bottom: 20px;
        span,
        a {
            display: block;
            text-align: center;
        }
        span {
            font-size: 14px;
            line-height: 16.8px;
            color: @darkbrown;
            font-weight: 700;
            margin-bottom: 14px;
            &:first-of-type {
                font-size: 23px;
                line-height: 27.6px;
                color: #fff;
                margin-bottom: 17px;
            }
        }
        a {
            color: #fff;
            width: 260px;
            height: 34px;
            line-height: 34px;
            background-color: @darkbrown;
            margin-left: auto;
            margin-right: auto;
            font-size: 18px;
            font-weight: 700;
            .common-transition();
            &:hover {
                opacity: .8;
            }
        }
    }
}
.rec-products {
    padding-top: 40px;
    padding-left: 22px;
    padding-right: 22px;
    @media (max-width: 767px) {
        padding-left: 21px;
        padding-right: 21px;
        .rec-product-swiper{
            overflow: hidden;
        }
    }
    h3 {
        margin-bottom: 30px;
        font-size: 30px;
        @media (max-width: 767px) {
            text-align: center;
        }
    }
}
//404
.main-container.fourohfour {
    height: ~'calc(100vh - 185px)';
    position: relative;
}
.awsnap {
    position: absolute;
    top: 50%;
    left: 50%;
    .center-absolute();
    img {
        width: 100%;
    }
}
//news & event
.main-container.news {
    background-color: transparent;
    h1 {
        padding-bottom: 70px;
        @media (max-width: 767px) {
            padding-bottom: 30px;
        }
    }
    @media (max-width: 1023px) {
        padding: 0 23px;
    }
}
.recent-news {
    padding: 0 10px;
    margin-bottom: 92px;
    @media (max-width: 768px) {
        margin-bottom: 30px;
    }
    li {
        text-align: center;
        padding-bottom: 18px;
        margin-bottom: 20px;
        border-bottom: 1px solid @lightgreen;
        &:last-of-type {
            margin-bottom: 0px;
        }
        a {
            color: @darkbrown;
            font-size: 21px;
            line-height: 25.2px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            @media (max-width: 767px) {
                font-size: 18px;
                
            }
            .common-transition();
            &:hover {
                opacity: .8;
            }
        }
    }
}
.news-main {
    .clearfix();
    padding: 0 10px;
    .right {
        width: 675px;
        max-width: 100%;
    }
}
.news-archive {
    @media (max-width: 1023px) {
        display: none;
    }
    .archive-content {
        margin-bottom: 28px;
        &:last-of-type {
            margin-bottom: 0px;
        }
        h6 {
            font-weight: 700;
            color: @lightgreen;
            font-size: 12px;
            line-height: 16px;
            text-transform: uppercase;
        }
        ul {
            li {
                a {
                    color: @darkbrown;
                    font-size: 14px;
                    line-height: 21px;
                    text-transform: uppercase;
                    .common-transition();
                    &:hover {
                        opacity: .8;
                    }
                }
            }
        }
    }
}
.news-content {
    h2 {
        font-size: 26px;
        line-height: 31.2px;
        letter-spacing: 0.1em;
        color: @lightgreen;
        text-transform: uppercase;
        margin-bottom: 15px;
        @media (max-width: 767px) {
            font-size: 18px;
            text-align: center;
        }
    }
    .separator {
        height: 1px;
        border-bottom: 1px solid @lightgreen;
        width: 100%;
        margin-bottom: 17px;
    }
    .date {
        font-weight: 700;
        font-size: 14px;
        line-height: 16.8px;
        margin-bottom: 25px;
        display: block;
    }
    article {
        @media (max-width: 767px) {
            text-align: center;
        }
        img {
            width: 100%;
            height: auto;
            margin-bottom: 25px;
        }
        p {
            margin-bottom: 25px;
            font-size: 18px;
            line-height: 21.6px;
            color: #000;
        }
    }
}
//special offer
.main-container.special-offer h3 {
    letter-spacing: normal;
}
//contact
.main-container.contact {
    background-color: transparent;
    padding: 0 25px;
    padding-bottom: 155px;
}
.contact-content {
    .clearfix();
    .left {
        width: 475px;
        max-width: 100%;
        @media (max-width: 1023px) {
            width: 100%;
        }
        h4 {
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 15px;
        }
        .separator {
            height: 1px;
            border-bottom: 1px solid @lightgreen;
            width: 100%;
            margin-bottom: 18px;
        }
    }
    .right {
            width: 260px;
        @media (max-width: 1023px) {
            text-align: center;
            width: 100%;
        }
        .separator {
            height: 1px;
            border-bottom: 1px solid @lightgreen;
            width: 100%;
            margin-bottom: 18px;
            margin-top: 18px;
        }
        h4 {
            font-weight: 600;
            font-size: 16px;
            line-height: 22.2px;
        }
        p,
        span {
            font-size: 16px;
            line-height: 22.2px;
        }
    }
}
#contact-form {
    width: 100%;
    @media (max-width: 1023px) {
        margin-bottom: 50px;
    }
    .clearfix();
    .input-row {
        margin-bottom: 23px;
    }
    label {
        display: block;
        margin-bottom: 15px;
        font-weight: 600;
    }
    input,
    textarea {
        width: 100%;
        
        font-size: 14px;
        line-height: 16.8px;
        border: 1px solid @darkbrown;
        &.name {
            width: ~'calc(50% - 6px)';
            &:first-of-type {
                margin-right: 8px;
            }
            @media (max-width: 767px) {
                width: 100%;
                margin: 0;
                margin-bottom: 10px;
            }
        }
    }
    input {
        height: 35px;
    }
    textarea {
        height: 100px;
        padding: 12px;
        @media (max-width: 767px) {
            height: 250px;
        }
    }
    button {
        height: 35px;
        width: 190px;
        line-height: 35px;
            font-weight: 700;
        background-color: @lightgreen;
        color: #fff;
        border: none;
        float: right;
        @media (max-width: 767px) {
            float: none;
            position: relative;
            left: 50%;
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }
}
//reference
.main-container.reference {
    background: transparent;
    @media (max-width: 767px) {
        padding: 0 30px;
    }
}
.reference-box {
    margin-bottom: 50px;
    text-align: center;
    img {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 55px;
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
    h3 {
        font-size: 26px;
        letter-spacing: 0.1em;
    }
    .separator {
        height: 1px;
        border-bottom: 1px solid @lightgreen;
        margin: 26px auto;
        width: 515px;
        max-width: 70%;
    }
    p {
        width: 610px;
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
        line-height: 19.2px;
    }
    a {
        color: #fff!important;
    }
    button {
        height: 44px;
        width: 170px;
        color: #fff!important;
        background-color: @darkbrown;
        border-radius: 0;
        -moz-border-radius: 0;
        .common-transition();
        &:hover {
            opacity: .8;
            color: #fff;
        }
    }
}
//register
.main-container.register {
    background-color: transparent;
    padding: 0 20px;
    padding-bottom: 100px;
}
#form-register {
    .clearfix();
    .separator {
        border-bottom: 1px solid @lightgreen;
        height: 1px;
        width: 580px;
        max-width: 100%;
        margin-top: 16px;
        margin-bottom: 35px;
    }
    .input-row {
        margin-bottom: 22px;
        .clearfix();
        .left:first-of-type {
            .clearfix();
            width: 580px;
            max-width: 100%;
            input,
            select {
                width: 425px;
                max-width: 100%;
                float: right;
                display: inline-block;
                vertical-align: middle;
                height: 35px;
                border-radius: 3px;
                -moz-border-radius: 3px;
                border: 1px solid #a7a8a9;
                padding-left: 12px;
                font-size: 14px;
                &[type=radio],
                &[type=checkbox] {
                    height: 14px;
                    float: none;
                    width: auto;
                    display: inline-block;
                    vertical-align: middle;
                }
                &[type=checkbox] {
                    margin-right: 20px;
                }
            }
            label {
                display: inline-block;
                vertical-align: middle;
                height: 35px;
                line-height: 35px;
                @media (max-width: 767px) {
                    display: block;
                }
            }
        }
        span.text-danger {
            vertical-align: top;
            display: inline-block;
            height: 35px;
            line-height: 35px;
            margin-left: 5px;
            @media (max-width: 1023px) {
                margin-left: 0px;
            }
        }
    }
    h4,
    label {
        font-weight: 600;
        font-size: 16px;
        line-height: 19.2px;
        span {
            color: @lightgreen;
        }
    }
    button {
        float: right;
        font-weight: 700;
        font-size: 18px;
        color: #fff;
        background-color: @lightgreen;
        height: 34px;
        width: 135px;
        border: 0;
        .common-transition();
        &:hover {
            opacity: .8;
        }
    }
}
.radio-cont {
    width: 425px;
    max-width: 100%;
    span {
        display: inline-block;
        vertical-align: middle;
        //		width: ~'calc(100% - 30px)';
        font-size: 14px;
        color: #000;
    }
}
.shipping-info-reg {
    margin-top: 38px;
    display: none;
}
//acount
.main-container.account {
    background: transparent;
    padding: 0 20px;
    height: 100%;
}
.account-cont {
    .clearfix();
    .right {
        width: 300px;
        @media (max-width: 1023px) {
            margin-bottom: 50px;
            width: auto;
        }
        ul {
            margin-top: 10px;
            li {
                border-bottom: 1px solid @darkbrown;
                &.active {
                    border-bottom: 1px solid @lightgreen;
                }
                padding-bottom: 15px;
                margin-bottom: 15px;
                width: 300px;
                max-width: 100%;
                max-height: 100%;
                a {
                    .common-transition();
                    font-weight: 600;
                    font-size: 16px;
                    color: @darkbrown;
                    &.active {
                        color: @lightgreen;
                    }
                    &:hover {
                        color: @lightgreen;
                    }
                }
            }
        }
    }
    .left {
        width: 580px;
        max-width: 100%;
        @media (max-width: 1023px) {
            width: 100%;
        }
    }
}
p.head-block {
            font-size: 16px;
            line-height: 19.2px;
            font-weight: 600;
            span {
                color: @lightgreen;
            }
        }
//main account
.account-detail {
    .block {
        .clearfix();
        margin-bottom: 70px;
        p.head-block {
            font-size: 16px;
            line-height: 19.2px;
            font-weight: 600;
            span {
                color: @lightgreen;
            }
        }
        .separator {
            border-bottom: 1px solid @lightgreen;
            height: 3px;
            width: 100%;
            margin-top: 14px;
            margin-bottom: 25px;
        }
        table {
            tr {
                td {
                    padding-bottom: 20px;
                    font-weight: 400;
                    &:last-of-type {
                        padding-left: 44px;
                        color: #555559;
                        @media (max-width: 767px) {
                            word-break: break-all;
                        }
                    }
                }
            }
        }
        a {
            color: #fff;
            display: block;
            background-color: @darkbrown;
            font-size: 18px;
            line-height: 21.6px;
            font-weight: 700;
            height: 34px;
            width: 185px;
            line-height: 34px;
            text-align: center;
            float: left;
            .common-transition();
            &:hover {
                opacity: .8;
            }
        }
    }
}
//change pswd account
.block.change-pswd {
    table {
        table-layout: fixed;
        span {
            display: none;
        }
        @media (max-width: 767px) {
            td:first-of-type {
                display: none;
            }
            span {
                display: block;
                margin-bottom: 5px;
                color: @darkbrown;
            }
        }
        td:last-of-type {
            width: 350px;
            padding-left: 0px!important;
            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
    input {
        height: 35px;
        width: 100%;
        border: 1px solid #a7a8a9;
        border-radius: 3px;
        -moz-border-radius: 3px;
        font-weight: 400;
            line-height: 35px;
    }
    button {
        background: @lightgreen;
        color: #fff;
        height: 34px;
        width: 135px;
        border: 0;
        float: right;
        font-weight: 700;
            line-height: 34px;
    }
    
        table tr td{
            padding-bottom: 16px;
        }
    
}
//forget password
.account.forget {
    min-height: ~'calc(100vh - 55px - 130px)';
    p {
        font-size: 16px;
        line-height: 32px;
        color: #000;
        margin-bottom: 18px;
    }
}
#forget-pswd {
    span {
        display: inline-block;
        vertical-align: middle;
//		color: #000;
        margin-right: 60px;
        font-weight: 600;
//		margin-bottom: 10px;
    }
    input {
        height: 35px;
        width: 430px;
        border: 1px solid #a7a8a9;
        border-radius: 3px;
        -moz-border-radius: 3px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        max-width: 100%;
//		margin-bottom: 10px;
    }
    button {
        background: @lightgreen;
        color: #fff;
        height: 35px;
        width: 135px;
        border: 0;
        line-height: 35px;
        font-weight: 700;
        display: inline-block;
        vertical-align: middle;
    }
    @media (max-width: 767px) {
        span,input,button{
            display: block;
            margin-bottom: 20px;
            margin-right: 0px;
        }
    }
}
//order history
.order-list {
    text-align: center;
    table {
        font-size: 15px;
        table-layout: fixed;
        width: 100%;
        text-transform: uppercase;
        thead {
            tr {
                border-bottom: 1px solid transparent!important;
            }
            td {
                font-size: 16px;
                padding-bottom: 40px!important;
                padding-top: 0px!important;
                vertical-align: middle;
                font-weight: 400!important;
            }
        }
        tr {
            border-bottom: 1px solid @lightgreen;
            td {
                padding-bottom: 40px;
                padding-top: 40px;
                vertical-align: middle;
                    font-weight: 700;
                a {
                    display: inline-block;
                    color: #fff;
                    font-weight: 700;
                    background-color: #a7a8a9;
                    height: 25px;
                    width: 125px;
                    line-height: 25px;
                    vertical-align: middle;
                    .common-transition();
                    &:hover {
                        opacity: .8;
                    }
                }
            }
            &:first-of-type td {
                padding-top: 0!important;
            }
        }
        .mobile-link {
            display: none;
            @media (max-width: 767px) {
                display: table-row;
                td:last-of-type {
                    display: table-cell;
                }
            }
        }
        @media (max-width: 767px) {
            td:last-of-type {
                display: none;
            }
        }
    }
}
//order history detail
.order-detail {
    margin-bottom: 50px;
    &>div {
        .clearfix();
        &:first-of-type {
            margin-bottom: 35px;
        }
        &>div {
            width: 50%!important;
            padding: 0!important;
        }
        h6,
        h5 {
            display: inline-block;
            font-size: 16px;
            font-weight: 700;
        }
        @media (max-width: 1023px) {
            .left {
                float: left;
            }
            .right {
                float: right;
            }
        }
        @media (max-width: 767px) {
            .left,
            .right {
                float: none;
                margin-bottom: 20px;
            }
        }
    }
    .billship {
        margin-bottom: 38px;
        h6 {
            margin-bottom: 38px;
        }
        p {
            font-size: 14px;
            line-height: 16.8px;
            &.bold {
                font-weight: 700;
            }
        }
    }
    .separator {
        margin-bottom: 30px;
        height: 1px;
        border-bottom: 1px solid @lightgreen;
        width: 100%;
    }
    table.list-item {
        width: 100%;
        img {
            width: 100px;
        }
        td {
            vertical-align: middle;
            text-align: center;
            font-weight: 700;
            padding-bottom: 40px;
            border-bottom: 1px solid @lightgreen;
            padding-top: 30px;
            &:first-of-type {
                text-align: left;
            }
            @media (max-width: 767px) {
                &:nth-child(3) {
                    display: none;
                }
                &:nth-child(4) {
                    display: none;
                }
            }
        }
        tr:last-of-type{
            td{
                border-bottom: 0;
            }
        }
        thead {
            tr {
                td {
                    font-weight: 400;
                    padding-bottom: 0px;
                    border: 0;
                    @media (max-width: 767px) {
                        &:nth-child(2) {
                            display: none;
                        }
                        &:nth-child(3) {
                            display: none;
                        }
                    }
                }
            }
        }
        .mob-data {
            display: none;
            @media (max-width: 767px) {
                display: block;
                margin-top: 10px;
            }
        }
        p {
            display: inline-block;
            vertical-align: middle;
            font-size: 15px;
            line-height: 18px;
            padding: 0 30px;
            text-align: left;
            @media (max-width: 767px) {
                text-align: center;
            }
        }
    }
    table.total-table {
        table-layout: fixed;
        width: 100%;
        td {
            height: 40px;
            background-color: #a7a8a9;
            color: #fff;
            border: 1px solid #a7a8a9;
            border-bottom: 1px solid #fff;
            vertical-align: middle;
            &:last-of-type {
                text-align: right;
                padding-right: 35px;
                @media (max-width: 767px) {
                    padding-right: 15px;
                }
            }
        }
        td:first-of-type {
            width: 50%;
        }
        tr.total {
            td {
                font-weight: 700;
                background-color: @lightgreen;
                border: 1px solid @lightgreen!important;
            }
        }
        margin-bottom: 70px;
    }
    .buttons-order-detail {
        .clearfix();
        a {
            color: #fff;
            background-color: @darkbrown;
            font-weight: 700;
            font-size: 18px;
            height: 35px;
            text-transform: uppercase;
            display: block;
            width: 135px;
            line-height: 35px;
            text-align: center;
            .common-transition();
            &:hover {
                opacity: .8;
            }
        }
        a.payment-confirm-button {
            background-color: @lightgreen;
            width: 260px;
            float: right;
        }
        @media (max-width: 767px) {
            &>div {
                width: 100%!important;
            }
            a {
                width: 100%!important;
                float: none!important;
            }
        }
    }
}
// cart
.main-container.cart {
    background: transparent;
    padding: 0 20px;
    padding-bottom: 50px;
    min-height: ~'calc(100vh - 185px)';
}
.table-cart {
    table-layout: fixed;
    width: 100%;
    .mob-data {
        display: none;
        @media (max-width: 767px) {
            display: block;
            margin-top: 10px;
        }
    }
    td {
        vertical-align: middle;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #000;
    }
    h6 {
        font-size: 26px;
        line-height: 32px;
        text-transform: uppercase;
        @media (max-width: 767px) {
            font-size: 18px;
            line-height: 22px;
        }
    }
    a {
        font-size: 12px;
        line-height: 32px;
        font-weight: 700;
        color: @darkbrown;
        .common-transition();
        &:hover {
            opacity: .8;
        }
    }
    span {
        font-size: 21px;
        line-height: 32px;
        font-weight: 700;
    }
    td:first-of-type {
        width: 100px;
    }
    td:nth-child(2) {
        padding-left: 65px;
        @media (max-width: 767px) {
            padding-left: 15px;
        }
    }
    td:nth-child(3) {
        width: 100px;
        @media (max-width: 767px) {
            display: none;
        }
    }
    td:nth-child(4) {
        width: 110px;
        @media (max-width: 767px) {
            display: none;
        }
    }
    img {
        width: 100px;
        height: auto;
    }
    .mobile-data {
        display: none;
        @media (max-width: 767px) {
            display: block;
        }
    }
}
.table-cart-total {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 27px;
    background-color: @lightgreen;
    text-align: right;
    color: #fff;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    td {
        height: 52px;
        width: 15%;
        @media (max-width: 767px) {
            width: 40%;
        }
        vertical-align: middle;
        &:first-of-type {
            width: 85%;
            @media (max-width: 767px) {
                width: 60%;
            }
        }
        &:last-of-type {
            padding-right: 10px;
        }
    }
}
.cart-buttons {
    .clearfix();
    width: 100%;
    margin-bottom: 40px;
    a,button {
        font-weight: 700;
        font-size: 18px;
        line-height: 34px;
        display: block;
        height: 34px;
        width: 260px;
        text-align: center;
        .common-transition();
        &.continue-shopping {
            background-color: transparent;
            color: @darkbrown;
            border: 1px solid @darkbrown;
            float: left;
            &:hover {
                background-color: @darkbrown;
                color: #fff;
            }
        }
        @media (max-width: 767px) {
            float: none!important;
            width: 100%!important;
            margin-bottom: 20px;
        }
    }
    .proceed-checkout {
        background-color: @lightgreen;
        color: #fff;
        border: 1px solid @lightgreen;
        float: right;
        padding: 0 15px;
        width: auto;

        &:hover {
            opacity: .8;
        }
        @media (max-width: 767px) {
            float: none!important;
            width: 100%!important;
            margin-bottom: 20px;
        }
    }
    @media (max-width: 767px) {
        padding-top: 130px;
    }
    @media (max-width: 1023px) {
        margin-bottom: 50px;
    }
}
//checkout
.main-container.checkout {
    background: transparent;
    padding: 0 20px;
    min-height: ~'calc(100vh - 55px - 130px)';
    .cart-buttons {
        @media (max-width: 767px) {
            padding-top: 60px;
        }
    }
}
.fancy-checkout-header {
    border-top: 1px solid #000;
    ul {
        width: 100%;
        padding: 0 126px;
        padding-bottom: 20px;
        padding-top: 22px;
        @media (max-width: 1023px) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @media (max-width: 767px) {
            width: auto;
        }
        li {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            position: relative;
            width: 24.5%;
            @media (max-width: 767px) {
                display: none;
                &.active {
                    display: block;
                    width: 100%;
                }
            }
            span {
                text-align: center;
                display: block;
                    font-weight: 600;
                font-size: 14px;
            }
            .round-indicator {
                height: 8px;
                width: 8px;
                background-color: @darkbrown;
                border-radius: 50%;
                -moz-border-radius: 50%;
                position: absolute;
                left: 50%;
                top: 32px;
                -moz-transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                &.active {
                    background-color: @lightgreen;
                }
            }
        }
    }
    .separator {
        height: 1px;
        widows: 100%;
        border-bottom: 1px solid #a7a8a9;
    }
}
//checkout login
.checkout-login {
    margin-top: 33px;
    margin-bottom: 150px;
    @media (max-width: 767px) {
        margin-bottom: 0px;
    }
    .clearfix();
    h4 {
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 22px;
        text-transform: uppercase;
        line-height: 1em;
    }
    .left {
        width: 670px;
        padding-right: 74px;
        border-right: 1px solid @lightgreen;
        @media (max-width: 1023px) {
            border: 0;
            width: 100%;
            padding: 0;
        }
    }
    .right {
        padding-left: 54px;
        @media (max-width: 1023px) {
            padding-left: 0;
            margin-top: 50px;
        }
        a {
            color: #fff;
            text-align: center;
            background-color: #a7a8a9;
            width: 100%;
            height: 35px;
            line-height: 38px;
            display: block;
            margin-bottom: 17px;
            font-size: 18px;
            font-weight: 700;
            width: 260px;
            @media (max-width: 767px) {
                width: 100%;
            }
            .common-transition();
            &:hover {
                opacity: .8;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
            &.fb {
                background-color: #1057a5;
                i {
                    font-size: 16px;
                    display: inline-block;
                    margin-left: -10px;
                    margin-right: 10px;
                    vertical-align: middle;
                }
            }
        }
    }
    .input-row {
        width: 100%;
                margin-bottom: 17px;
    }
    input {
        width: 100%;
        height: 35px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        padding-left: 12px;
        font-size: 14px;
        border: 1px solid #a7a8a9;
        &.half {
            width: ~'calc(50% - 7.5px)';
            margin-right: 11px;
            &:last-of-type {
                margin: 0;
            }
        }
    }
}
//checkout payment
.checkout-payment {
    margin-top: 35px;
    .nice-select {
        width: 100%;
        float: none;
        margin-bottom: 15px;
        border: 1px solid #a7a8a9;
        .list {
            width: 100%;
        }
    }
    .clearfix();
    .left {
        width: 600px;
        max-width: 100%;
    }
    .right {
        width: 360px;
        max-width: 100%;
        padding-left: 30px;
        @media (max-width: 1023px) {
            padding-left: 0px;
            margin-bottom: 50px;
        }
        h4 {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 13px;
        }
        .separator {
            width: 100%;
            border: 1px solid @lightgreen;
            height: 1px;
            margin-bottom: 11px;
        }
        select {
            margin-bottom: 14px;
            width: 100%;
            height: 35px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            padding-left: 12px;
            font-size: 14px;
            border: 1px solid #a7a8a9;
        }
        .input-row {
            width: 100%;
            margin-bottom: 15px;
            &.paypal {
                .clearfix();
                a {
                    font-size: 14px;
                    height: 34px;
                    line-height: 34px;
                    color: #321e00;
                    display: block;
                    .common-transition();
                    &:hover {
                        opacity: .7;
                    }
                    &.btn-login-paypal {
                        height: 34px;
                        font-weight: 700;
                        font-size: 18px;
                        border: 0;
                        background-color: #bfd22b;
                        float: right;
                        color: #fff;
                        width: 100px;
                        -moz-transition: all .2s linear;
                        -webkit-transition: all .2s linear;
                        transition: all .2s linear;
                        line-height: 34px;
                        text-align: center;
                    }
                }
            }
            label {
                display: block;
                font-weight: 600;
                font-size: 14px;
                line-height: 16.8px;
                margin-bottom: 14px;
            }
            input {
                width: 100%;
                height: 35px;
                border-radius: 3px;
                -moz-border-radius: 3px;
                padding-left: 12px;
                font-size: 14px;
                border: 1px solid #a7a8a9;
                &.small {
                    width: 93px;
                    margin-right: 12px;
                }
            }
        }
    }
    p {
        font-size: 14px;
        line-height: 16.8px;
        margin-bottom: 28px;
        color: #000;
        a {
            color: #000;
            .common-transition();
            &:hover {
                opacity: .8;
            }
        }
    }
    .agree {
        margin-bottom: 33px;
        input,
        p {
            display: inline-block;
            vertical-align: top;
        }
        p {
            width: 210px;
            margin-bottom: 0;
            padding-left: 15px;
        }
    }
    .method {
        display: none;
        &.active {
            display: block;
        }
        p {
            color: @darkbrown;
            margin-bottom: 25px;
        }
    }
    button {
        height: 34px;
        font-weight: 700;
        font-size: 18px;
        border: 0;
        background-color: @lightgreen;
        float: right;
        color: #fff;
        width: 135px;
        .common-transition();
        &:hover {
            opacity: .8;
        }
        @media (max-width: 1023px) {
            display: block;
            margin-bottom: 50px;
        }
    }
}
//checkout-confirm
.brown-box {
    width: 100%;
    background-color: @darkbrown;
    padding: 23px 18px;
    margin-bottom: 30px;
    color: #fff!important;
    h4 {
        margin-bottom: 30px;
    }
    p {
        color: #fff;
        &:last-of-type {
            margin-bottom: 0px;
        }
        a {
            color: #fff;
        }
    }
}
button.gotoconfirm {
    width: 100%!important;
}
//checkout shipping
.checkout-shipping {
    .checkout-login();
    margin-bottom: 50px;
    .left {
        border: 0;
        width: auto;
        padding-right: 0px;
        a {
            color: #000;
            &:hover {
                opacity: .7;
            }
        }
        select {
            border-radius: 3px;
            -moz-border-radius: 3px;
            font-size: 14px;
            border: 1px solid #a7a8a9;
            display: inline-block;
            margin-right: 50px;
            height: 34px;
        }
        .address-box {
            margin-top: 15px;
            padding: 10px 15px;
            width: 400px;
            max-width: 100%;
            height: 160px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            font-size: 14px;
            border: 1px solid #a7a8a9;
            p {
                margin-bottom: 20px;
                line-height: 1.5em;
            }
        }
        &>div{
            .clearfix();
            margin-bottom: 10px;
        }
    }
    .right {
            width: ~'calc(100% - 600px)';
        @media (max-width: 1023px){
            width: 100%;
        }
        h4 {
            margin-bottom: -5px!important;
            font-weight: 600;
        }
        select {
            width: 306px;
            height: 34px;
            max-width: 100%;
            border-radius: 3px;
            -moz-border-radius: 3px;
            padding-left: 12px;
            font-size: 14px;
            border: 1px solid #a7a8a9;
        }
    }
    .nice-select{
        float: none;
                display: inline-block;
                vertical-align: middle;
            margin-right: 50px;
        border: 1px solid #a7a8a9;
        min-width: 120px;
        &:before{
                content: '';
                display: block;
                height: 20px;
                width: 20px;
                background: url('../img/arrow-down-green.png');
                background-position: center center;
                background-repeat: no-repeat;
                position: absolute;
                right: 6px;
                top: 10px;
                .common-transition();
        }
    }
    .nice-select.open:before {
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    
}
//payment confirmation
.payment-confirmation {
    margin-top: 30px;
    margin-bottom: 50px;
}
#form-confirm-payment {
    #form-register();
    button {
        float: left;
        margin-top: 80px;
    }
    select.small {
        width: auto!important;
//		display: inline-block!important;
//		margin-right: 20px;
        float: none!important;
        padding: 0!important;
        &:first-of-type {
            margin-left: 49px;
            @media (max-width: 767px) {
                margin-left: 0px;
            }
        }
    }
    
    .nice-select{
        float: none;
                display: inline-block;
                vertical-align: middle;
            margin-right: 50px;
        border: 1px solid #a7a8a9;
        height: 35px;
        line-height: 35px;
        min-width: 120px;
        &:before{
                content: '';
                display: block;
                height: 20px;
                width: 20px;
                background: url('../img/arrow-down-green.png');
                background-position: center center;
                background-repeat: no-repeat;
                position: absolute;
                right: 6px;
                top: 7px;
                .common-transition();
        }
    }
    .input-row.order-number{
            font-weight: 700;
            .nice-select{
                    width: 425px;
    max-width: 100%;
                margin: 0;
                float: right;
            }
        }
    .input-row.small-select{
        .nice-select{
                    width: auto;
                min-width: 0;
                margin: 0;
                float: none;
                margin-left: 20px;
            &:first-of-type{
                margin-left: 49px;
            }
            }
    }
    .nice-select.open:before {
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}
//cart trigger
.cart-trigger {
    position: relative;
    .cart-nominal {
        position: absolute;
        display: block;
        height: 24px;
        width: 24px;
        top: -1px;
        right: -9px;
        background-color: @lightgreen;
        border-radius: 50%;
        -moz-border-radius: 50%;
        color: #fff;
        line-height: 24px;
        text-align: center;
        font-size: 14px;
    }
}
//address list
.address-list {
    margin-top: 50px;
    h4 {
        font-weight: 600;
        font-size: 16px;
        color: #321e00;
    }
    .separator {
        height: 1px;
        border-bottom: 1px solid @lightgreen;
        width: 100%;
        margin-top: 14px;
        margin-bottom: 30px;
    }
    .address {
        margin-bottom: 50px;
        &>div {
            display: inline-block;
            vertical-align: top;
        }
        .address-name {
            font-weight: 600;
            color: #bbb;
        }
        .address-detail {
            padding-left: 10px;
            @media (max-width: 767px) {
                padding-left: 0px;
                margin-top: 10px;
            }
            font-weight: 400;
            color: #000;
            width: 80%;
            p {
                margin-bottom: 10px;
            }
            b {
                font-weight: 500;
            }
            a {
                color: @darkbrown;
                font-weight: 400;
                .common-transition;
                &:hover {
                    opacity: .8;
                }
            }
        }
    }
}
//shipping non-member
.form-shipping {
    #form-register();
    width: 600px;
    max-width: 100%;
    .input-row .left:first-of-type {
        padding-right: 0px;
    }
    .input-row span.text-danger {
        margin-left: 0px;
    }
    .input-row .left:first-of-type select {
        margin-right: 0px;
    }
    .checks {
        label {
            display: inline-block;
            vertical-align: middle;
        }
    }
    input[type=checkbox] {
        height: 40px;
        vertical-align: middle;
        margin-left: 20px;
        width: auto;
        display: inline-block;
    }
}
.shipping-order {
    table-layout: fixed;
    width: 100%;
    span {
        font-size: 14px;
        font-weight: 600;
        &.qty {
            color: @lightgreen;
        }
    }
    td {
        padding-bottom: 25px;
        padding-top: 10px;
        border-bottom: 1px solid #a7a8a9;
    }
    td:last-of-type {
        text-align: right;
        padding-left: 30px;
    }
    .totals td {
        padding-bottom: 10px;
    }
    .totals:last-of-type td {
        border-bottom: 4px solid @lightgreen;
    }
}
.separator-non-member {
    height: 1px;
    border-bottom: 1px solid @lightgreen;
    width: 100%;
    margin-top: 14px;
    margin-bottom: 12px;
}
//list revisi
.scrolldown {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}
.btn.btn-account-control {
    background-color: @lightgreen;
    color: #fff;
    margin-bottom: 10px;
    &.logout {
        background-color: @darkbrown;
    }
}
//newsletter popup
.newsletter-popup {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99999;
    .newsletter-popup-body {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 5px;
        border: 1px solid #fff;
        width: 700px;
        max-width: 90%;
        min-height: 250px;
        .close {
            display: block;
            position: absolute;
            top: -10px;
            right: -10px;
            height: 30px;
            width: 30px;
            line-height: 30px;
            color: #fff;
            background-color: #000;
            z-index: 99;
            opacity: 1;
            font-weight: 400;
            -moz-border-radius: 50%;
            border-radius: 50%;
            font-size: 13px;
        }
        .newsletter-popup-content {
            background-color: #fff;
            position: relative;
            line-height: 30px;
            min-height: 250px;
            padding: 40px;
            .alert {
                margin: 0 auto;
                width: 575px;
                max-width: 95%;
                padding: 0;
                @media (max-width: 767px) {
                    font-size: 11px!important;
                }
                margin-bottom: 10px;
            }
            @media (max-width: 767px) {
                padding: 10px;
            }
            &>div {
                position: absolute;
                top: 50%;
                left: 50%;
                -moz-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: 95%;
                h4 {
                    line-height: 1.2em;
                    font-weight: 500;
                    letter-spacing: 0.05em;
                    margin-bottom: 20px;
                    @media (max-width: 767px) {
                        font-size: 12px;
                    }
                }
                input,
                .btn {
                    display: block;
                    height: 36px;
                    margin-bottom: 10px;
                    margin-left: auto;
                    margin-right: auto;
                    line-height: 36px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    width: 575px;
                    max-width: 95%;
                    text-align: center;
                }
                input {
                    border: 1px solid #a7a8a9;
                }
                .btn {
                    color: #fff;
                    background-color: @lightgreen;
                    padding: 0;
                    line-height: 36px;
                    font-weight: 700;
                    font-size: 14px;
                    letter-spacing: 0.02em;
                }
            }
        }
    }
}
.nice-select.method-select:after {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background: url('../img/arrow-down-green.png');
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 10px;
    .common-transition();
}
.nice-select.method-select.open:after {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
//addons
.address-block {
    max-height: 300px;
    overflow-y: auto;
}
.eship {
    display: inline-block;
    text-transform: uppercase;
}



.form-unsubscribe{
    width: 500px;
    max-width: 100%;
    textarea,button{
        display: block;
    }
    textarea{
        width: 100%;
        height: 150px;
        resize: none;
        border: 1px solid @darkbrown;
        padding: 12px;
        margin-bottom: 20px;
    }
    button{
        width: 100px;
        color: #fff;
        background: @lightgreen;
        .common-transition();
        &:hover{
            opacity: .8;
            color: #fff;
        }
        &:focus{
            opacity: .8;
            color: #fff;
        }
    }
}

.row.category-detail{
    margin-left: -5px;
    margin-right: -5px;
    &>div{
        padding: 0 2px;
    }
}



.checkout-payment h5 {
    font-weight: 400!important;
    .order-detail .billship p{
        margin-bottom: 4px;
    }
}

.total-table{
    .total span {
        display: block;
        height: 100%;
        line-height: 40px;
    }
}
.nice-select .list{
    max-height: 170px;
    overflow-y: auto!important;
}
