//mixins
//define brand colors
@color-brand-primary: #263238;
@color-brand-secondary: #FFF; //texts for menu
@color-brand-tertiary: #26A69A; // 10-20% darker than primary if no color available
@color-brand-nav-hover: rgba(0, 0, 0, 0.1);



