    body{
        font-family: Arial,Helvetica,sans-serif;
        font-size: 12px;
    }
.logo img{
    width: 160px;
}
    table{
        padding: 45px 5px;
        table-layout: fixed;
        width: 100%;
    }
    .shipping-info{
        margin-bottom: 10px;
        padding-bottom: 5px;
        padding-top: 10px;
        table-layout: auto;
        font-size: 14px;
    }
    .shipping-info td{
        vertical-align: top;
    }
    .shipping-info td:nth-child(1){
       
    }
    .shipping-info td:nth-child(2){
        font-weight: 700;
    }
    .shipping-info p{
        margin: 0;
    }
    .shipping-info .receiver{
        text-transform: uppercase;
        margin-bottom: 4px;
        font-weight: 700;
    }
    .shipping-info .address{
        margin-bottom: 5px;
        font-weight: 400;
    }
    .shipping-info .address.last{
        margin-bottom: 20px;
        line-height: 20px;
    }
    .shipping-info .phone{
        margin-bottom: 20px;
         font-weight: 400;
    }
    .dimensiontable{
        padding-bottom: 0px;
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
    }
    .dimensiontable .dimension .size{
        display: inline-block;
        margin-right: 0px;
        width: 61%;
    }
    .dimensiontable .dimension .weight{
        display: inline-block;
        width: 37%;
    }
    .dimensiontable .dimension .size .container{
        width: 70%;
        height: 10px;
        display: inline-block;
        border-bottom: 1px solid #918f8f;
    }
    .dimensiontable .dimension .weight .container{
        width: 79%;
        height: 10px;
        display: inline-block;
        border-bottom: 1px solid #918f8f;
    }
    .shippingdetail{
        padding-top: 20px;
        font-weight: 400;
        font-size: 11px;
        padding-bottom: 10px;
    }
.shippingdetail b{
    font-size: 12px;
}
    .section{
        width: 500px;
    
    }
    .section{
        border-bottom: 1px solid #c8c7c7;
    }
    .section-title{
        padding-top: 20px;
        text-align: center;
    }
    .logo{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 70px;
    }
    .order-detail{
        text-align: left;
        padding-bottom: 0;
    }
    .order-detail th{
        padding-bottom: 10px;
        font-size: 13px;
        border-bottom: 1px solid #c8c7c7;
        font-size: 10px;
    }
    .order-detail th:last-of-type, .order-detail td:last-of-type{
        text-align: right;
        width: 10%;
    }
    .order-detail td{
        vertical-align: top;
        padding-top: 10px;
    }
    .order-detail td:first-of-type{
        padding-right: 10px;
    }
    .order-detail td:last-of-type{
        font-weight: 400;
        font-size: 16px;
    }
    .sku{
        font-size: 10px;
    }
    .order-detail td span{
        display: block;
        margin-bottom: 5px;
    }
.order-detail td span:last-of-type{
    margin-bottom: 15px;
}
    .order-detail tr:last-of-type td{
/*        padding-bottom: 10px;*/
        border-bottom: 1px solid #c8c7c7;
    }
    .order-total{
        padding-top: 20px;
        font-size: 8px;
        padding-bottom: 0px;
    }
    .order-total b{
        font-size: 10px;
    }
    .order-total td:first-of-type{
        width: 60%;
    }
    .instruction{
        font-weight: 400;
        padding-top: 0;
        padding-bottom: 20px;
    }
    .instruction td{
        vertical-align: top;
    }
    .instruction td:nth-child(1){
        width: 60%!important;
    }
    .instruction span{
        display: inline-block;
        height: 24px;
        line-height: 24px!important;
    }
    .section-footer{
/*        padding-top: 20px;*/
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .signs{
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
    }
    .signs td>div{
        width: 100%;
        float: left;
    }
    .sign-container{
        height: 50px;
        width: 90%;
        margin: 0 auto;
        border-bottom: 1px solid #918f8f;
        margin-bottom: 5px;
        
    }
    .signs span{
        font-size: 10px;
    }
    @media print {
       
        .section{
            width: 8cm;
            
        }
        @page {
          size: 8cm 10in portrait;
          margin:0;
        }
    }
    .img-cont{
        height: 24px;
        line-height: 24px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 15px;
    }
    .img-cont img{
        position: absolute;
        top: 50%;
        left: 0;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
.instruction1{
    padding-bottom: 20px;
}
.totalweight{
    font-size: 10px;
}
