

@import "project-color.less";


.text-brand-primary {
    color: @color-brand-primary;
}
.text-brand-secondary {
    color: @color-brand-secondary;
}
.text-brand-tertiary {
    color: @color-brand-tertiary;
}
.bg-brand {
    background-color: @color-brand-tertiary!important;
    color: #fff;
}
.color-brand {
    color: @color-brand-primary;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-text {
    color: @color-brand-primary;
}
.navigation > li.active > a,
.navigation > li.active > a:hover,
.navigation > li.active > a:focus {
    background: @color-brand-tertiary!important;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: @color-brand-primary;
    background-color: @color-brand-secondary;
}

a {
//    color: @color-brand-tertiary;
}
body.stop-scrolling{
    height: auto!important;
}
.pr-8 {
    padding-right: 8px;
}
.ui-tooltip {
    color: #fff!important;
    font-size: 10px!important;
    background: #000!important;
    border: #000!important;
}
.footer.navbar{
    display: none!Important;
}
//login form
.login-container{
    .footer{
        text-align: center;
    }
}
body.navbar-bottom{
    padding-bottom: 0!important;
}
.page-container-login{
    background: @color-brand-primary;
}
.panel.login-form {
    padding: 36px 20px!important;
    margin-top: 40px!important;
    a.back-to-login{
        font-size: 16px;
    }
    
    .success-info{
        line-height: 1.2em;
        margin-top: 20px;
        margin-bottom: 30px;
        p{
            span{
                font-weight: 700;
            }
        }
    }
    
    .form-control-feedback{
        left: 15px;
        i{
            color: #999;
        }
    }
    .logo {
        padding-left: 16px;
        padding-right: 16px;
        img {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            height: auto;
        }
    }
    -webkit-box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.2);
    h1 {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .form-group {
        padding: 0 16px;
        img {
            height: 20px;
            display: inline-block;
            vertical-align: middle;
        }
        input[type="password"],
        input[type="text"] {
//            display: inline-block;
//            vertical-align: middle;
//            width: ~'calc(100% - 34px)';
            height: 30px;
//            padding: 0 5px;
            background-color: #fff!important;
            /*border: 0;
            border-bottom: 1px solid #263238;*/
        }
    }
    a {
//        color: #263238;
        &:hover,
        &:focus {
            opacity: .9;
//            color: #263238;
        }
    }
    .btn-login {
        
        color: #fff;
        width: 100%;
        &:hover {
           
            color: #fff;
            opacity: .9;
        }
    }
}
//styled components
.media-left, .media-right, .media-body{
    vertical-align: middle;
}
.text-right {
    text-align: right;
}
.navbar-inverse{
    border-color: transparent!important;
    border-bottom-color: #ddd!important;
}
.navigation > li > ul li:first-child{
    padding-top: 0px!important;
}
.navbar.navbar-inverse {
    background-color: @color-brand-secondary;
    border-top: 0;
//    border: 0;
}
.navbar-header {
    background-color: @color-brand-primary;
    border-color: @color-brand-primary;
}
.navigation li a:hover, .navigation li a:focus{
        background-color: @color-brand-nav-hover;
}
.navigation > li > ul li.active > a, .navigation > li > ul li.active > a:hover, .navigation > li > ul li.active > a:focus{
    background-color: @color-brand-nav-hover!important;
}
.navbar-header.minimize{
    overflow: hidden;
    .navbar-brand{
        padding-left: 14px;
    }
}
a.sidebar-control.sidebar-main-toggle.hidden-xs{
    position: relative;
    height: 46px;
    width: 46px;
    i{
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
.navbar-brand{
    padding: 5px 20px;
    width: 100%;
    position: relative;
//    border-bottom: 1px solid #fff;
    img{
        height: 25px;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 20px;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
.logout-button{
    &:hover{
        opacity: .7;
    }
}
.sidebar {
    background-color: @color-brand-primary;
}
.page-header{
    .heading-elements{
        margin-top: -8px;
    }
}
.profile-link{
    color: #fff;
    &:hover{
        opacity: .9;
        color: #fff;
    }
    &:focus{
        opacity: .9;
        color: #fff;
    }

}
.navigation > li.active > a,
.navigation > li.active > a:hover,
.navigation > li.active > a:focus {
    background-color: rgba(0, 0, 0, .4);
}
.navigation > li > ul li:last-child {
    padding-bottom: 0px;
}
.navigation li + .navigation-header {
    margin: 0;
}
.navigation > li > ul li.active > a,
.navigation > li > ul li.active > a:hover,
.navigation > li > ul li.active > a:focus {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
}
.table-actions {
        padding-left: 0!important;
    a {
        color: #333333;
        &:hover,
        &:focus {
            opacity: .7;
            color: #333333;
        }
    }
}
.page-header-default {
    background: 0;
    box-shadow: none;
    .page-title {
        padding-bottom: 10px;
    }
}
.panel-heading-title {
    h1,
    h2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    p {
        margin-bottom: 0px;
        font-size: 12px;
    }
}
.form-group.bottom-button {
    .button-groups.pull-right {
        margin-right: 10px;
    }
}
.header-search {
    height: 46px;
    padding-top: 8px;
    padding-bottom: 8px;
    .form-control,
    .form-control-feedback {
        height: 30px;
        line-height: 30px;
        i {
            color: #999;
            font-size: 10px;
        }
    }
    .btn {
        height: 30px;
        padding: 10px 12px;
        line-height: 10px
    }
}
.label.bg-grey {
    background: #c3c3c3!important;
    border: 1px solid #c3c3c3;
}
.td-centered-text {
    width: 80px;
    text-align: center;
}
.text-center {
    .td-centered-text {
        width: auto;
        padding-right: 25px;
    }
}
td .cut-text {
    //    display: block;
    ////    width: 400px;
    //    white-space: nowrap;
    //    overflow: hidden;
    //    text-overflow: ellipsis;
}
td.uploading {
    .progress {
        width: 200px;
        background-color: #6e6e6e;
    }
    .progress-bar-info {
        background-color: #ddd;
    }
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
//    padding: 5px 5px;
    font-size: 13px;
}
.entry-table.table>tbody>tr>td {
//    padding-right: 25px;
}
.entry-table.table th.no-sort {
    text-align: right;
    padding-right: 20px!important;
}
ul.processed-order-list {
    list-style-type: none;
    padding: 0;
}
ul.order-items {
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
    li {
        margin-bottom: 10px;
        &:last-of-type {
            margin-bottom: 0px;
        }
    }
}
td {
    outline: none!important;
}
//page title
.page-title h4 {
    font-size: 19px;
}
.page-title h4 span {
    font-weight: 700;
}
.panel-heading-title h1,
.panel-heading-title h2,
.panel-heading-title h5, {
    font-weight: 400;
    font-size: 17px;
}
.panel-heading-title p {
    font-size: 13px;
}
//panels
.panel.right-small {
    .panel-heading {
        padding-bottom: 0px;
    }
}
//table
.filter-table {
    #search_the_table {
        width: 165px;
        outline: 0;
        height: 36px;
        padding: 7px 12px;
        padding-right: 36px;
        font-size: 13px;
        line-height: 1.5384616;
        color: #333333;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 3px;
    }
    i {
        color: #999999;
    }
    label {
        display: block;
        margin-right: 10px;
    }
    .form-control-feedback {
        line-height: 36px;
        height: 36px;
        padding-top: 1px;
        padding-left: 6px;
        i {
            font-size: 11px!important;
        }
    }
}
.entry-table {
    table-layout: fixed;
    th.no-sort.text-right {
        width: 60px!important;
    }
}
.table th {
    font-weight: 700;
    height: 30px!important;
    span {
        display: block;
//        padding-right: 6px;
        float: right;
    }
}
td.text-bold span {
    font-weight: 400;
    font-size: 10px;
}
td.text-bold div.pull-left {
    width: ~'calc(100% - 33px)';
    span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
}
.td-date {
    text-align: right;
    padding-right: 38px!important;
    br {
        display: none;
    }
    .text-muted {
        font-size: 11px;
        display: block;
    }
}
.table > tbody > tr > td.child-page {
    padding-left: 50px!important;
}
//datatable
.panel-body .dataTable {
    width: ~'calc(100% + 40px)';
    margin-left: -20px!important;
}
.table-header.datatable-header {
//    padding-top: 0px!important;
    padding-bottom: 20px!important;
}
.table-header.datatable-header{
    padding-left: 20px!important;
    padding-right: 20px!important;
}
.dataTables_filter {
    margin-right: 20px!important;
}
.dataTables_filter input {
    width: 165px!important;
}
.datatable-header .select2 {
    width: 165px!important;
    margin-right: 5px!important;
}
.select2-results__option[aria-selected=true] {
    background: #f5f5f5;
}
.table tr td {
    height: 55px!important;
}
.table tr td h6 {
    font-size: 13px!important;
    margin: 0!important;
    font-weight: 700!important;
}
.table.table-one-line tr td {
    height: 40px!important;
}

.dataTable tr th:first-of-type {
    &:before {
        margin-left: 18px!important;
    }
    &:after {
        margin-left: 18px!important;
    }
}
.dataTable tr th.no-sort.text-right {
    width: 69px!important;
}
.dataTable tr td.table-actions,
.dataTable tr th.no-sort.text-right {
    padding-right: 20px!important;
}
.dataTable tr td .label {
    display: inline;
}
.panel-body > .dataTables_wrapper .datatable-footer {
    border-top: 1px solid #ddd!important;
    height: 40px;
    width: ~'calc(100% + 40px)';
    margin-left: -20px;
    padding-left: 30px;
    padding-right: 20px;
}
.table > thead > tr > th {
//    border-bottom: 1px solid #ddd;
}
.table-header {
    .form-control-feedback {
        i {
            line-height: 36px!important;
        }
    }
}
.table td.title-column h6 {
    font-weight: 700;
    font-size: 13px!important;
   
}
.table td.title-column span{
        font-size: 11px!important;
}
.header-search i {
    line-height: 30px!important;
}
//btn dropdown
button.btn.btn-icon.dropdown-toggle {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 50px;
}

//forms
textarea {
    min-height: 75px;
}
h5.form-section-title {
    margin-top: 0;
    line-height: 14px;
    font-size: 13px;
    font-weight: 700;
    padding-left: 10px;
    margin-bottom: 10px;
}
.form-control {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    height: 30px;
}
label.control-label {
    font-size: 12px;
}
.form-control-feedback {
    height: 30px;
    line-height: 30px;
}
.multiselect-container > li > a .checker,
.multiselect-container > li > a .choice {
    top: 50%!important;
}
.form-group.add-keywords {
    input {
//        width: ~'calc(100% - 36px)';
    }
    .btn {
        height: 30px;
        line-height: 16px;
    }
}
.bootstrap-tagsinput input {
    display: none;
    width: 100%!important;
}
.bootstrap-tagsinput {
    min-height: 36px;
}
.table-header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0px;
    border-top: 1px solid #ddd;
//    width: ~'calc(100% + 40px)';
//    margin-left: -20px;
    padding: 10px 20px;
    &.mb-10 {
        margin-bottom: 0px!important;
    }
}
.table-header .select2-container {
    float: left;
    margin-right: 5px;
}
//play pause audio

.play-media,.pause-media{
    color: #000;
    &:hover,&:focus{
        color: #000;
        opacity: .8
    }
}


//slider list
.slider-list {}
.slider-management-buttons {
    padding: 20px 0px!important;
    margin: 0px !important;
    z-index: 9;
    &.is_stuck {
        border-bottom: 1px solid #ddd;
    }
}
.slider-thumbnail-row {
    margin-left: -5px;
    margin-right: -5px;
    &>div {
        padding-left: 5px;
        padding-right: 5px;
    }
    .thumbnail .caption {
        .pull-right {
            //            @media (max-width: 1840px){
            //                float: none!important;
            //            }
            //            @media (max-width: 1199px){
            //                float: right!important;
            //            }
        }
    }
}
a.text-default.media-name.video-name {
    display: block;
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.media-list-body,.slider-list-body{
    padding: 0 20px;
}
#modalEntryMedia .icon-search4 {
    line-height: 36px;
}
.slider-list-header,
.media-list-header {
    padding: 10px 0px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
//    width: ~'calc(100% + 40px)';
//    margin-left: -20px;
//    padding-left: 30px;
    padding-left: 20px;
    &.datatable-header{
        width: 100%;
        margin-left: 0px;
        padding-left: 20px;
    }
    .form-control-feedback {
        i {
            line-height: 30px!important;
        }
    }
}
.media-list-header {
     .form-control-feedback {
        i {
            line-height: 36px!important;
        }
    }
}
.thumbnail .caption>span {
    height: 60px;
    overflow: hidden;
    display: block;
    //    @media (max-width: 1840px){
    //           height: 38px;
    //    }
    &.small-span {
        height: 20px;
        font-size: 11px;
        color: #999;
    }
}
.thumbnail .caption h6 {
    .clearfix();
}
.thumbnail .caption h6>a {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    float: left;
}
.thumbnail.video-thumbnail{
    h6{
        &>a{
            width: 90%;
            overflow: hidden;
            white-space: nowrap;
            display: block;
            text-overflow: ellipsis;
            /* float: left; */
            line-height: 1em;
        }
    }
}
.thumbnail .caption .pull-right>span.filesize {
    font-size: 12px;
    color: #999;
}
.thumbnail .caption .select2 {
    .select2-selection {
        height: 22px!important;
        padding: 2px 0px!important;
    }
    .select2-selection__rendered {
        padding: 0 5px;
        font-size: 10px;
        text-align: center;
        text-transform: uppercase;
        padding-right: 20px;
        color: #fff;
    }
    .select2-selection__arrow:after {
        color: #fff!important;
    }
}
.thumb.add-new {
    img {
        opacity: 0;
    }
}
.thumb-overlay {
    position: absolute;
    height: 90px;
    width: 100%;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    text-align: center;
    span {
        display: block;
        color: #333!important;
        margin-bottom: 10px;
    }
    span.btn {
        color: #fff!important;
        margin: 0 auto;
        height: 58px;
        width: 58px;
        line-height: 42px;
        font-size: 26px;
    }
}

.post-url{
    color: #999;
    font-size: 11px;
    height: 17px;
    line-height: 17px;
    margin-top: 10px;
    input{
        display: inline-block;
            width: 150px;
            height: 17px;
            padding-left: 5px;
            font-size: 11px;
    }
}

.post-url-buttons{
        font-size: 11px;
    height: 17px;
    line-height: 17px;
    i{
        color: #000!important;
    }
}

//popup add media

.modal-header .close{
    top: 21px;
    right: 14px;
    display: block;
    height: 25px;
    width: 25px;
}

.media-popup-header {
    padding: 10px 0px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: ~'calc(100% + 40px)';
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
}
.media-popup-content {
    height: 290px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.media-popup-thumbnail {
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    width: 100%;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    border: 3px solid transparent;
    &.selected {
        border: 3px solid #2196F3;
    }
    img {
        width: 100%;
        height: auto;
    }
}
.progress-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    .progress {
        width: 90%;
        top: 50%;
        margin-left: auto;
        margin-right: auto;
        height: 5px;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        .progress-bar {
            background: #777;
        }
    }
    span.percentage {
        position: absolute;
        width: 100%;
        top: 50%;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        margin-top: 10px;
        display: block;
        text-align: center;
    }
}
.navbar-header {
    &.minimize {
        width: 56px;
        min-width: 0;
    }
}
h6.media-name {
    margin: 0;
    font-size: 12px;
}
.table-uploading-media .progress {
    height: 8px;
}
video.video_thumb {
    width: 100%;
    height: auto;
}
.sixteen-nine {
    position: relative;
}
.sixteen-nine:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
}
.sixteen-nine > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
//new account
.new-account-main {
    h3 {
        margin-top: 10px;
        font-size: 15px;
        font-weight: 700;
        padding-bottom: 10px;
    }
}
.form-account {
    .select2-selection--single {
        height: 30px;
        line-height: 1.4em;
    }
}
.checkbox.generate-password {
    label {
        padding-left: 20px;
    }
    .checker span {
        width: 13px;
        height: 13px;
            position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
        &:after {
            font-size: 13px;
            left: -2px;
        }
    }
}
//role
.role-table {
    margin-bottom: 20px;
    width: ~'calc(100% + 40px)';
    margin-left: -20px;
    max-width: none;
    tr {
        td:first-of-type,
        th:first-of-type {
            padding-left: 20px;
        }
        td:last-of-type,
        th:last-of-type {
            padding-right: 20px;
        }
    }
    tr:last-of-type {
        td {
            border-bottom: 1px solid #ddd;
        }
    }
}
.meta-list {
    .select2-container {
        height: 30px!important;
        line-height: 30px!important;
    }
    .select2-selection {
        height: 30px!important;
        line-height: 20px;
    }
}
//fixed media grid
.thumbnail {
    position: relative;
}
.media-row {
    .clearfix();
    margin-left: -10px;
    margin-right: -10px;
    .media-grid {
        margin-left: 10px;
        width: 230px;
        float: left;
    }
}
.add-image {
    .thumb-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 50%;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        text-align: center;
        z-index: 9;
        span:first-of-type {
            position: relative;
            margin-top: 50%;
        }
    }
}
//ckeditor
.cke_button__addslideshow .cke_button_label {
    display: inline-block;
}
.cke_button__addslideshow_icon {
//    display: none!important;
}
//product catalog
a.catalog-preview {
    font-size: 16px;
    color: #333;
    &:hover {
        color: #333;
        opacity: .8;
    }
}
.table-variant {
    tr th,
    tr td {
        padding-right: 5px;
        vertical-align: top;
    }
    tr th {
        padding-bottom: 5px;
    }
    a {
        color: #333;
        height: 30px;
        line-height: 30px;
        &:hover {
            color: #333;
            opacity: .8;
        }
    }
    .salesdate-string {
        font-size: 10px;
    }
}
#modal_variant-image {
    .row {
        margin-left: -5px;
        margin-right: -5px;
    }
    .row>div {
        padding-left: 5px;
        padding-right: 5px;
    }
    .img-variant {
        margin-bottom: 10px;
        border: 1px solid transparent;
        -moz-border-radius: 4px;
        border-radius: 4px;
        cursor: pointer;
        &.selected {
            border: 3px solid #2196F3;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}
#modal_variant_category {
    .modal-body {
        height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
        border-bottom: 1px solid #ddd;
        margin-bottom: 15px;
    }
    .category-list {
        margin-left: -25px;
        margin-right: -25px;
        .category-item-container {
            margin-bottom: 10px;
            float: left;
            width: 210px;
            padding-left: 25px;
            padding-right: 25px;
        }
        .category-item-content {
            padding: 10px;
            border: 1px solid #ddd;
            position: relative;
            .top {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                padding: 10px;
                z-index: 2;
            }
            .bottom {
                height: 160px;
                padding-top: 30px;
                overflow-y: auto;
            }
        }
        .category-item {}
    }
}
.add-edit-product-photos {
    border: 1px solid #ddd;
    overflow-y: hidden;
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 202px;
    padding: 10px 10px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    .ui-sortable-placeholder {
        display: inline-block;
        height: 1px;
    }
    .add-edit-product-photos-content {
        white-space: nowrap;
        width: auto;
        overflow-x: auto;
        width: 100%;
        overflow-y: hidden;
    }
    .product-photo-container,
    .product-photo-container-add {
        margin-left: -5px;
        margin-right: -5px;
        width: auto;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        position: relative;
        height: 202px!important;
        .product-photo,
        .add-product-photo {
            width: 190px;
            padding-left: 5px;
            display: inline-block;
            margin-bottom: 10px;
            vertical-align: top;
            padding-right: 5px;
            position: relative;
            .caption-overflow {
                left: 5px;
                width: ~'calc(100% - 10px)';
            }
            &:hover {
                .caption-overflow {
                    background-color: rgba(0, 0, 0, 0.7);
                    visibility: visible;
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
            }
            img {
                width: 100%;
                height: auto;
                border: 1px solid #fff;
                -moz-border-radius: 4px;
                border-radius: 4px;
            }
        }
        .add-product-photo-trigger {
            width: 180px;
            height: 180px;
            display: inline-block;
            background-color: #fff;
            border: 1px solid #ddd;
            -moz-border-radius: 4px;
            border-radius: 4px;
            color: #333;
            position: relative;
            .add-product-content {
                position: absolute;
                top: 50%;
                left: 50%;
                -moz-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: 100%;
                span {
                    display: block;
                    text-align: center;
                    &.btn-rounded {
                        margin-top: 10px;
                        width: 36px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }
}
.product-photo-navigation {
    position: absolute;
    width: 50px;
    height: 100%;
    top: 0;
    &.next {
        right: 0;
        background: #fff;
        z-index: 9;
    }
    &.prev {
        left: 0;
        background: #fff;
        z-index: 9;
    }
    a {
        height: 100%;
        line-height: 202px;
        text-align: center;
        width: 100%;
        display: block;
        color: #333;
        i{
            line-height: 202px;
        }
    }
}
.sale-date-trigger {
    background: transparent!important;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
}
//form validation
.invalid-input {
    border: 1px solid #F44336!important;
}
//sales order
td span.payment-ammount {
    font-weight: 700;
    font-size: 16px;
    display: block;
    text-align: right;
    padding-right: 20px;
}
.daterangepicker.dropdown-menu {
    z-index: 9999!important;
}
.daterangepicker .table-condensed tr > th, .daterangepicker .table-condensed tr > td{
    padding: 9px!important;
    font-size: 13px!important;
}

.table-price {
    font-size: 15px;
}
.panel.payment-details {
    .panel-body {
        padding-top: 0px;
    }
    h6 {
        margin: 0;
    }
    span.total-big {
        text-align: right;
        font-size: 28px;
        font-weight: 700;
        display: block;
    }
}
.address-dropdown-option {
    h5,
    h6 {
        margin: 0;
    }
    h5 {
        font-size: 12px;
    }
    h6 {
        font-size: 10px;
    }
    a {
        color: #000;
    }
}
.customer-info {
    &.not-filled {
        visibility: hidden;
    }
    margin-top: 10px;
    h5 {
        margin: 0;
        font-size: 15px;
        margin-bottom: 5px;
        line-height: 1em;
        font-weight: 700;
    }
    span {
        display: block;
        font-size: 12px;
    }
    .info-box {
        margin-bottom: 8px;
    }
    .bg-grey {
        background-color: #b4b4b4!important;
        border: 1px solid #b4b4b4!important;
    }
    .btn {
        height: 25px;
        line-height: 10px;
        display: inline-block;
        //        margin-top: 8px;
        width: auto;
    }
}
.order-additional-note-content {
    p {
        font-style: italic;
    }
}
//autocomplete format
.add-product-container,
.customer-autocomplete-container {
    position: relative;
}
.product-search-result,
.customer-search-result {
    position: absolute;
    width: 100%;
    left: 0;
    top: 40px;
}
.autocomplete-search-result-list {
    list-style-type: none;
    display: none;
    z-index: 99;
    &.show {
        display: block;
    }
    background: #fff;
    padding: 0;
    border: 1px solid #ddd;
    max-height: 350px;
    overflow-y: auto;
    margin: 0;
    li {
        border-bottom: 1px solid #ddd;
        &:last-of-type {
            border: 0;
        }
        a {
            color: #000!important;
            display: block;
            padding: 10px;
            &:hover,
            &:focus {
                text-decoration: none;
                background-color: #eee;
            }
        }
        h5,
        h6 {
            margin: 0;
        }
        h5 {
            font-size: 12px;
        }
        h6 {
            font-size: 10px;
        }
        span.matches {
            font-weight: 700;
        }
    }
}
.order-detail-view {
    margin-bottom: 5px;
    img,
    i {
        display: inline-block;
        vertical-align: middle;
    }
    img {
        width: 16px;
    }
}
span.order-detail-text {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
}
//watchdog
.table-watchdog {
    th {
        text-align: center;
    }
}
td .store-name {
    display: block;
    &.text-muted {
        font-size: 11px;
    }
}
td .price-range {
    font-weight: 700;
    font-size: 16px!important;
    display: block;
    text-align: right;
    padding-right: 16px;
    color: #333333!important;
    &:hover,
    &:focus {
        opacity: .8!important;
        color: #333333!important;
    }
}
td .price-range-detail {
    font-size: 10px!important;
    text-align: right;
    display: block;
    padding-right: 16px;
}
.price-target {
    font-size: 14px;
}
.table-watchdog-popup {
    width: ~'calc(100% + 40px)';
    max-width: none;
    margin-left: -20px!important;
    tr {
        th:first-of-type,
        td:first-of-type {
            padding-left: 20px;
        }
        th:last-of-type,
        td:last-of-type {
            padding-right: 20px;
        }
        th span {
            padding-right: 0px;
        }
    }
    td .store-name {
        font-weight: 700;
        &.text-muted {
            font-weight: 400;
        }
    }
    tr.own-store {
        td {
            background-color: #9CCC65
        }
    }
}
#modal_add_edit_keyword {
    .select2-selection {
        height: 30px;
        padding: 5px 0px;
    }
}
td.td-date {
    span {
        display: block;
    }
    br {
        display: none;
    }
}
td .price-target {
    font-weight: 700;
    font-size: 16px;
    display: block;
    text-align: right;
    &.text-muted {
        font-size: 11px;
        font-weight: 400!important;
    }
}
span.watchdog-time {
    font-size: 10px;
}
.dropdown-menu > li.border-top {
    border-color: #ddd;
}
#modal_detail_notification {
    .modal-title {
        max-width: 90%;
    }
    .modal-body {
        max-height: 85vh;
        overflow-y: auto;
    }
}
.table-watchdog-notification.dataTable tr th.no-sort.text-right {
    width: 145px!important;
}
.table-watchdog-notification .btn-group {
    .btn {
        height: 30px;
        font-size: 12px;
        line-height: 15px;
        i {
            font-size: 12px;
        }
    }
}
legend {
    font-size: 12px;
}
tr.deleting {
    opacity: .7;
    -ms-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
    //    -moz-transform: scale(0.7);
    //    -webkit-transform: scale(0.7);
    //    transform: scale(0.7);
}
tr.deleted {
    opacity: 0;
    -ms-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
    //    -moz-transform: scale(0);
    //    -webkit-transform: scale(0);
    //    transform: scale(0);
}
h3.customer-note-heading {
    //    font-weight: 700;
    //    font-size: 17px;
    //        margin-top: 0px;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.marketplaces {
    .select2-selection {
        height: 30px!important;
        line-height: 20px;
    }
}
.pricing-criteria {
    tr td {
        border: 0!important;
    }
}
.btn-scrape-progress {
    margin-top: -8px;
    width: 175px;
    .ladda-label{
        i{
            font-size: 15px;
        }
    }
    .stop-state {
        display: none!important;
    }
    .icon-stop-scrape {
        display: none!important;
    }
    .state-start{
        display: none!important;
    }
    &:hover {
        .state-off{
            display: none;
        }
        .state-start{
            display: inline-block!important;
        }
        .stop-state {
            display: inline-block!important;
        }
        .working-state {
            display: none;
        }
        div[role="progressbar"] {
            display: none;
        }
        .icon-stop-scrape {
            display: block!important;
            position: absolute;
            z-index: auto;
            top: 50%;
            width: 20px;
            left: 10px;
            -moz-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
}
.delete-notification{
    padding: 7px 8px;
}
.table-bracket-code{
    vertical-align: top;
    font-size: 13px;
    width: 100%;
    td{
        padding-bottom: 5px;
        vertical-align: top;
    }
    a{
        font-size: 12px;
    }
}

.change-avatar{
    display: inline-block;
    height: auto;
    width: auto;
    position: relative;
    cursor: pointer;
    .overlay{
        
        position: absolute;
        opacity: 0;
        background: rgba(0,0,0,.65);
        &:hover{
            opacity: 1;
        }
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        color: #fff;
        text-align: center;
        line-height: 150px;
        .btn{
            position: absolute;
            height: 45px;
            width: 45px;
            i{
                line-height: 30px;
            }
            top: 50%;
            left: 50%;
            -moz-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }
    }
}

.product-select{
    margin-bottom: 20px;
    label{
        z-index: 10;
        position: relative;
    }
}
.watchdog-autocomplete-wrapper{
    position: relative;
    z-index: 9;
    .watchdog-autocomplete-box{
        position: absolute;
        display: none;
        width: 100%;
       top: 34px;
        ul{
            border: 1px solid #ddd;
            width: 100%;
            padding: 0;
            list-style-type: none;
            li{
                background: #fff;
                padding: 5px 12px;
                cursor: pointer;
                &:hover{
                    background: #eee;
                }
                h6{
                    font-size: 12px;
                    margin: 0;
                    font-weight: 700;
                }
                span.text-muted{
                    font-size: 10px;
                }
                span.matches{
                    font-weight: 700;
                }
            }
        }
    }
}

.product-selected{
    display: none;
    .selected-product{
        div:first-of-type{
            margin-right: 10px;
        }
        margin-bottom: 10px;
        h6{
            font-weight: 700;
            font-size: 13px;
            margin: 0;
        }
        span{
            font-size: 11px;
        }
        
    }
}

.empty-overlay{
        position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    text-align: center;
    span{
        position: absolute;
        display: block;
        width: 100%;
        top: 50%;
        left: 0;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}


// new plugin

.content-group.plugins{
    font-size: 17px;
    font-weight: 400;
    span{
        color: #000;
        font-size: 13px;
    }
}
.plugin-alert{
    .sa-icon.sa-warning{
            border-color: #F44336!important;
            -webkit-animation: none!important;
            animation: none!important;
    }
    .sa-body,.sa-dot{
        background: #F44336!important;
        -webkit-animation: none!important;
            animation: none!important;
    }
}


//dashboard
.dashboard-wrapper{
    .panel,.grid-sizer{
        width: 230px;
        margin-bottom: 10px;
    }
    .panel--width2{
        width: 230px + 230px + 10px;
    }
    .gutter-sizer{
        width: 10px!important;
    }
}

table.table-marketplace{
    tr th,tr td{
        height: 20px!important;
        padding: 5px 20px!important;
    }
    th, td{
        text-align: right;
        &:first-of-type{
            text-align: left;
        }
    }
}

.panel-wide-top{
        width: 240px;
    margin-left: auto;
    margin-right: auto;
    span,h6{
        display: block;
        text-align: center;
        color: #4CAF50 !important;
        
    }
    span{
        font-size: 35px;
        font-weight: 700;
    }
    h6{
            font-weight: 400;
            margin: 0;
            font-size: 13px;
    }
}

.dashboard-statistic-content{
    span{
        display: block;
        font-size: 13px;
        font-weight: 700;
        color: #607D8B;
    }
    h6{
        margin: 0;
        font-size: 11px;
        color: #999999;
    }
}

.common-info-top{
    margin-bottom: 30px;
    span,h6{
        display: block;
        text-align: center;
        color: #0277BD!important;
    }
    h6{
        font-weight: 400;
        margin: 0;
        font-size: 13px;
    }
    span{
        font-size: 35px;
        font-weight: 700;
    }
}
.common-info-bottom{
    padding-top: 20px;
    border-top: 1px solid #ddd;
}
.top-visit-ul,.common-info-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
    h6{
        margin: 0;
        font-size: 13px;
    }
    &.color{
        h6 span{
            display: inline-block;
            height: 10px;
            width: 15px;
            margin-right: 5px;
        }
    }
}
.dashboard-panel-icon{
    height: 67px;
    width: 67px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #0277BD;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    i{
        color: #0277BD;
        font-size: 38px;
        line-height: 67px;
    }
}

.dashboard-chart{
    border-bottom: 1px solid #ccc;
}
#browser-status svg{
    margin-left: auto;
    margin-right: auto;
}
.chart-container{
//    margin-top: -70px;
//        height: 300px;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    position: relative;
    
    @media (min-width: 1025px){
//             top: 50%;
//            -moz-transform: translateY(-50%);
//            -webkit-transform: translateY(-50%);
//            transform: translateY(-50%);
     }
    

}

.site-visit-top,.page-view-top{
    margin-bottom: 30px;
    span,h6{
        display: block;
        text-align: center;
    }
    h6{
        font-weight: 400;
        margin: 0;
        font-size: 13px;
    }
    span{
        font-size: 35px;
        font-weight: 700;
    }
}
.site-visit-top,{
    color: #4CAF50 !important;
}
.page-view-top{
    color: #4CAF50 !important;
}
.site-visit-bottom,.page-view-bottom{
    margin-top: 20px;
//    span{
//        display: block;
//        font-size: 13px;
//        font-weight: 700;
//        color: #607D8B;
//    }
//    h6{
//        margin: 0;
//        font-size: 11px;
//        color: #999999;
//    }
}


.dashboard-wrapper{
    position: relative;
}

.no-ga-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(255,255,255,.85);
    .overlay-content{
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    i,h6,a{
        display: block;
        text-align: center;
        
    }
    i{
        font-size: 40px;
        margin-bottom: 50px;
    }
    h6{
        margin-bottom: 0px;
    }
}
.no-ga-container{
//    background: url('../../../images/dashimageoverlay.png');
    background-size: 100% 100%!important;
    width: ~'calc(100% + 15px)!important';
    margin-left: -15px;
    
}
.no-ga-wrapper{
    width: 100%;
//    margin-left: -10px;
    height: 360px;
    background-size: contain!important;
    background-repeat: repeat-x;
//    background-position: center center!important;

    position: relative;
    .no-ga-wrapper-content{
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        i,span,a{
            display: block;
            margin-bottom: 5px;
            text-align: center;
        }
        i{
            font-size: 48px;
            margin-bottom: 40px;
        }
    }
}


//.no-ga-wrapper{
//    width: 950px;
//    margin-left: -10px;
//    height: 360px;
//    background-size: 100% 100%!important;
//
//
//    position: relative;
//    .no-ga-wrapper-content{
//        position: absolute;
//        top: 50%;
//        left: 50%;
//        -moz-transform: translate(-50%, -50%);
//        -webkit-transform: translate(-50%, -50%);
//        transform: translate(-50%, -50%);
//        i,span,a{
//            display: block;
//            margin-bottom: 5px;
//            text-align: center;
//        }
//        i{
//            font-size: 48px;
//            margin-bottom: 40px;
//        }
//    }
//}

.ct-label{
    font-size: 11px!important;
    color: #000!important;
    fill: #000!important;
}


#modal_adjust_stock, #modal_transfer_order{
    .select2-container {
        height: 30px!important;
        line-height: 30px!important;
    }
    .select2-selection {
        height: 30px!important;
        line-height: 20px;
    }
    .select2-selection__rendered{
        margin-top: -2px;
    }
}
span.remarks{
    display: inline-block;
    border-bottom: 1px dashed #1E88E5;
}
.delete-variant-row{
        position: absolute;
    top: 50%;
    right: -10px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #333;
}
.table-empty-add-new{
    width: 100%;
    height: 200px;
    position: relative;
}
.table-input-trigger{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.receive-order-detail-view,.return-exchange-detail-view{
    list-style-type: none;
    padding: 0;
    li{
        .clearfix();
//        height: 33px;
        margin-bottom: 5px;
        div{
            display: inline-block;
            vertical-align: middle;
        }
        span{
            line-height: 1em;
            display:block;
            &.text-muted{
                font-size: 11px;
//                margin-top: -3px;
            }
        }
    }
    div{
        margin-right: 10px;
    }
}
.popup-cart-footer{
    div{
        h6{
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 13px;
        }
        span{
            font-weight: 700;
            font-size: 24px;
        }
    }
}
.return-front-panel{
    h2,p,input{
        text-align: center;
    }
    input,.btn,.select2-container{
        width: 270px!important;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    p{
        margin-bottom: 30px;
    }
    h2{
        font-size: 20px;
        margin-bottom: 0px;
    }
}


.return-amount-info{
    .amount-total{
        font-weight: 700;
        font-size: 28px;
        display: block;
    }
    ul{
        list-style-type: none;
        padding: 0;
        li{
            .clearfix()
            
        }
    }
}
.return-detail-list{
    margin-top: 10px;
        list-style-type: none;
        padding: 0;
        li{
            .clearfix()
            
        }
    }


.shelf-option a,.shelf-edit-option a{
    color: #333333!important;
}
.bootstrap-tagsinput{
    min-height: 100px;
    input{
        display: inline-block;
        text-align: center;
        font-style: italic;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}


.blockUI.blockOverlay{
    min-height: 300px;
}
.cke_button__source_label{
    margin-top: 2px!important;
}
.cke_combo_open{
    position: relative!important;
    top: 10px!important;
}
.dataTables_wrapper{
        min-height: 300px;
}

.blockUI.blockMsg {
        top: 50%!important;
    left: 50%!important;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.navbar-brand.small{
    display: none;
}
.navbar-header.minimize{
    .navbar-brand.small{
        display: block;
        img{
            left: 14px;
        }
    }
    .navbar-brand.big{
        display: none;
    }
}


.media-grid{
    .caption-overflow{
        a{
            padding: 0;
            display: block;
            height: 34px;
            width: 34px;
            line-height: 30px;
            margin-left: auto;
            margin-right: auto;
            i{
                    line-height: 30px;
            }
        }
    }
}
.heading-elements{
    .btn.btn-labeled{
         line-height: 22px;
        height: 36px;

    }
}
